<!--TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>
<div ng-controller="VerReservaCtrl">
<div ng-include="'./templates/menu_lateral.html'">
</div>
<!-- CONTENIDO MODULO inicio -->
<div class="col-md-8 col-sm-8">
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-primary">
				<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
				{{ajustes.pagina.titulo}}
			</h2>	
			<hr class="bg-green">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="well well-sm">
				<strong class="pull-left lead">Herramientas: &nbsp;</strong>
				<form class="form-inline pull-left">
					<input type="text" class="form-control" placeholder="Filtrar por " ng-model="searchText">
				</form>
				&nbsp;&nbsp;
				<!--<button class="btn btn-default" ><span class="glyphicon glyphicon-save-file"></span> Exportar lista en PDF</button>-->
				<a href="#/establecimientos/pacientes" class="btn btn-primary" title="Listar Pacientes"><span class="glyphicon glyphicon-th-list"></span> <strong>LISTAR PACIENTES</strong></a>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			Las filas de color <strong class="fg_red">Rojo</strong> representan las citas médicas por admitir, y las filas de color <strong class="text-primary">Verde</strong> representan las citas médicas admitidas.
		</div>
	</div>
	<div class="panel">
		<div class="panel-body ">
			<div ng-show="loading" class="text-center"><br><img ng-src="./images/image.gif" class="loader-img"></div>
			<div ng-show="!loading && !msg && !error_inesperado" class="alert alert-info" role="alert">No hay citas médicas para hoy.</div>
			<div ng-show="!loading && !msg && error_inesperado" class="alert alert-danger" role="alert">Error inesperado, por favor actualice la página o revise su conexión a Internet.</div>
			<div class="table-responsive">
				<table class="table table-bordered  table-hover" ng-show="!loading && msg">
	            	<thead>
	                	<th>Nº</th>
	                	<th align="center">
	                		<a href="" ng-click="sortType = 'created_at'; sortReverse = !sortReverse">
		                	Fecha
		                	<span ng-show="sortType == 'cit_fecha_consulta' && !sortReverse" class="glyphicon glyphicon-chevron-up"></span>
		                    <span ng-show="sortType == 'cit_fecha_consulta' && sortReverse" class="glyphicon glyphicon-chevron-down"></span>
		                    </a>
						</th>
						<th>Hora</th>
	                	<th>Servicio</th>	                	
	                	<th>Nro. Ficha</th>
	                	<th>Paciente</th>
	                	<th>Tipo de cita</th>
	                	<th>Ver</th>
	                	<th ng-if="rol_id == 6">Estado</th>
	              	</thead>
	              	<tbody ng-repeat="reserva in reservas | orderBy:sortType:sortReverse | filter:searchText" >
	                    <tr ng-class="{success:reserva.cit_estado_pago, danger:!reserva.cit_estado_pago}">
							<td>{{$index + 1}}</td>
							<td>{{reserva.cit_fecha_consulta | date:'dd-MM-yyyy'}}</td>
							<td>{{reserva.cit_hora_consulta | date:'H:mm'}}</td>
							<td>{{reserva.ser_nombre}}</td>							
							<td>SSR-{{reserva.cit_nro_ficha}}</td>
							<td>{{reserva.per_nombres+" "+reserva.per_apellido_primero+" "+reserva.per_apellido_segundo}}</td>
							<td>{{reserva.cit_tipo | uppercase}}</td>
							<td>
							 	<button type="button" ng-click="obt_cita(reserva.cit_id, reserva.ser_nombre, reserva.cit_nro_ficha, reserva.per_nombres, reserva.per_apellido_primero, reserva.per_apellido_segundo)" data-toggle="modal" data-target="#miCuadroModal1" class="btn btn-success"><span class="glyphicon glyphicon-file" ></span>
								 VER</button>
							</td>
							<td ng-if="rol_id == 6">
							  <div class="form-group">
								 <button type="button"  data-toggle="modal" data-target="#miCuadroModal2" ng-click="obtiene_datos(reserva.per_id, reserva.cit_id)" class="btn btn-primary ">
								 <div ng-if="reserva.cit_estado_pago">&nbsp;&nbsp;   <strong>ADMITIDO</strong>&nbsp;&nbsp;&nbsp;</div>
								 <div ng-if="!reserva.cit_estado_pago"><strong>ADMITIR</strong></div></button>
							  </div>
							</td>
					  	</tr>
	                </tbody>
	            </table>
	            <!-- MODAL PARA VER CITA -->
        		<div id="miCuadroModal1" class="modal fade" role="dialog" tabindex="-1">
					<div class="modal-dialog">
					  <div class="modal-content">
					      <div class="modal-header bg-green">
					        <button type="button" class="close" data-dismiss="modal">×</button>
					        <h3 class="modal-title fg-white"><strong>DATOS DE LA CITA MÉDICA</strong></h3>
					      </div>
					      <div class="modal-body lead text-center">
						      <div class="well well-sm text-justify" style="background-color:#ddd;">		
						      	<span class="text-primary">NRO. FICHA:  </span>SSR-{{nro_ficha_sesar}}<br>
						      	<span class="text-primary">HORA DE ATENCI&Oacute;N:  </span>{{cit_hora_consulta | date:'H:mm'}}<br>
						      	<span class="text-primary">CONSULTORIO:  </span>{{nom_consultorio}}<br>
								<span class="text-primary">MÉDICO:  </span>{{funcionario.persona.per_nombres+" "+funcionario.persona.per_apellido_primero+" "+funcionario.persona.per_apellido_segundo}}<br>	
							  </div>
							  <div class="well well-sm text-justify" style="background-color:#ddd;">
								<span class="text-primary">PACIENTE:  </span>{{paciente}}<br>
							  </div>
						  </div>
					  	  <div class="modal-footer lead text-center">
					      	<button class="btn btn-primary" data-dismiss="modal">
								<span class="glyphicon glyphicon-ok"></span> ENTENDIDO
							</button>
					      </div>
					  </div>
					</div>
				</div>
	            <!-- fin modal -->

	            <!-- MODAL 2 PARA ADMITIR AL PACIENTE -->
        		<div id="miCuadroModal2" class="modal fade" role="dialog" tabindex="-1">
					<div class="modal-dialog">
						<!-- content 1 -->
					  	<div ng-if="valor == '0'" class="modal-content">
					      <div class="modal-header bg-green">
					        <button type="button" class="close" data-dismiss="modal">×</button>
					        <h3 class="modal-title fg-white"><strong>ADMISION DE PACIENTE</strong></h3>
					      </div>
						 		<center><h4 class="text-primary">DATOS GENERALES</h4></center>                             
		                        <span class=""><strong>C.I.:  </strong></span>
		                          {{paciente.persona.per_ci+" "+pac_per.persona.per_ci_expedido}}<br>
		                        <span class=""><strong>NOMBRE COMPLETO:  </strong></span>
		                          {{paciente.persona.per_nombres+" "+pac_per.persona.per_apellido_primero+" "+paciente.persona.per_apellido_segundo}}<br>
		                        <div class="row">
			                        <div class="col-md-8">
				                        <div class="form-group">
				                        <span class="text-primary"><h5>ASIGNAR CÓDIGO DE HISTORIAL:</h5></span>
				                           <div class="input-group">
				                             <input class="form-control" type="text" name="hist_clinico" class="form-control" ng-model="paciente_per.pe_hist_clinico" placeholder="Codigo Historial" autofocus required>
				                             <span class="glyphicon glyphicon-tags"></span>
				                           </div>
				                           <span class="messages" ng-show="addCod.$submitted || addCod.hist_clinico.$touched">
				                            <span ng-show="addCod.hist_clinico.$error.required">El campo es obligatorio.</span>
				                           </span>
				                        </div>
			                        </div>
		                        </div>
				                <div ng-if="valor == '0'" class="modal-footer">
				                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="admitir_E(pac_per.paciente.pac_id); ; estado_pago(res_cit_id)"><span class="glyphicon glyphicon-ok"></span> HABILTAR</button>
				                    <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>CANCELAR</button>
				                </div>
				        </div>

						<!-- content 2 -->
						<div ng-if="valor == '1'" class="modal-content">
						      <div class="modal-header bg-green">
						        <button type="button" class="close" data-dismiss="modal">×</button>
						        <h3 class="modal-title fg-white"><strong>ADMISION DE CITA M&Eacute;DICA</strong></h3>
						      </div>
									<div class="modal-body lead text-center">
									    <div class="well well-sm text-justify" style="background-color:#ddd;">		
									      	<span class="text-primary">NRO. FICHA:  </span>SSR-{{cit_nro_ficha}}<br>
									      	<span class="text-primary">HORA:  </span>{{cit_hora_consulta | date:'H:mm'}}<br>
									      	<span class="text-primary">CONSULTORIO:  </span>{{nom_consultorio}}<br>
											<span class="text-primary">MÉDICO:  </span>{{funcionario.persona.per_nombres+" "+funcionario.persona.per_apellido_primero+" "+funcionario.persona.per_apellido_segundo}}<br>
										</div>
										<div class="well well-sm text-justify" style="background-color:#ddd;">
											<span class="text-primary">PACIENTE:  </span>{{pac_per.persona.per_nombres+" "+pac_per.persona.per_apellido_primero+" "+pac_per.persona.per_apellido_segundo}}<br>
										</div>
									</div>
								 <div class="modal-footer">
				                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="admitir(pac_per.paciente.pac_id); estado_pago(res_cit_id)" ng-disabled="addCod.$invalid"><span class="glyphicon glyphicon-ok"></span>ADMITIR</button>
				                    <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>CANCELAR</button>
				                 </div>
						</div>
					</div>
				</div>
	            <!-- fin modal -->
	        </div>
        </div>
	</div>	        		
	<!-- fin PANEL-->
</div>
</div>
