<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>
<!-- CONTEXT-MENU  -->

   <div ng-include="'./templates/menu_lateral.html'" ></div>
        <div class="col-md-8 col-sm-8">

        <div class="row">
          <div class="col-md-12">
            <h2 class="text-primary">
              <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
              {{ajustes.pagina.titulo}}
            </h2>
            <hr>
          </div>
        </div>
<div ng-controller="CreatePacientePersonaCtrl" >
  <div ng-controller="UploadPacCtrl as vista"> 
	
	<div class="row">
		<div class="col-md-12" ng-cloack>
		<!-- AQUI VAN LAS TABLAS O FORMULARIOS incrustados -->
		<!-- INICIO -->
		<label class="control-label">Los campos marcados con asterisco (<strong class="fg_red">*</strong>) son obligatorios</label>
		<div class="well well-sm" style="background-color:#fff;">
			<h4 class="text-center text-primary">I. DATOS GENERALES</h4>
			<hr class="bg-green">
			<div ng-controller="FechaFunCtrl">
            <form role="form"  name="addPaciente" novalidate>  
			<div class="row">
			  	<div class="col-md-3">
	             <div class="well well-sm">
	                  <div ng-if="thumbnail.dataUrl ==''" style="height:190px !important; overflow:auto;">
	                    <img ng-src="./images/perfil.jpg" align="center" class="img-responsive img-thumbnail"/>
	                  </div>
	                  <div ng-if="thumbnail.dataUrl !=''" style="height:190px !important; overflow:auto;">
	                    <img ng-src="{{thumbnail.dataUrl}}" align="center" class="img-responsive img-thumbnail"/>
	                  </div>
                    <div class="clearfix">
                    </div>
					<br>
	        		<div class="form-group">
	                  <label>Cargar Imagen</label>
	                  <input type="file" name="fileInput" id ="fileInput" class="filestyle" data-buttonText="Find file"  file-model="vista.ima_nombre" onchange="angular.element(this).scope().photoChanged(this.files)"  />
	                  <input type="hidden" name="" ng-model="pacientes.ima_nombre" value="{{pacientes.ima_nombre}}">
	                  <br>
	                </div>  
                  </div>
              	</div>	
              	<br>  
				<div class="col-md-9">
				    <div class="row">
				      <div class="col-md-6">
				        <label class="control-label">Tipo de Documento:<strong class="fg_red">*</strong></label>
				        <select class="form-control" name="tipo_doc" ng-model="pacientes.per_tipo_documento" ng-change="documento()" ng-model-options="{ updateOn: 'blur' }" required >
				            <option value="CI">CARNET DE IDENTIDAD</option>
				            <option value="PASAPORTE">PASAPORTE</option>
				            <option value="SIN DOCUMENTO">SIN DOCUMENTO</option>          
				        </select>
				      <span class="messages" ng-show="addPersona.$submitted || addPaciente.tipo_doc.$touched">
				         <span ng-show="addPaciente.tipo_doc.$error.required">El campo es obligatorio.</span>
				      </span>
				      </div>
				      <div class="col-md-6" >
				        <div ng-controller="PaisCtrl">
				          <label class="cotrol-label">Pais:<strong class="fg_red">*</strong></label>    
				            <select class="form-control" name="nacionalidad" ng-model="pacientes.per_pais"  ng-options="pais.nac_id as pais.nac_nombre for pais in paises"  ng-required="required_p" ng-disabled="disabled_pais">
				            	<option value="">BOLIVIA</option>
				            </select>
				            <span class="messages" ng-show="addPaciente.$submitted || addPaciente.nacionalidad.$touched">
				            <span ng-show="addPaciente.nacionalidad.$error.required">El campo es obligatorio.</span>
				          </span>
				        </div>
				      </div>			
				      </div>
				      <br>
					<div class="row">
						<div class="col-md-6">
							<label class="control-label ">Número identificador: <strong class="fg_red">*</strong></label>
							<input type="text" class="form-control" name="ci" placeholder="Ej. 9999988" ng-model="pacientes.per_ci" ng-model-options="{ updateOn: 'blur' }" required  min="100000" ng-required="required" ng-disabled="disabled">
							  <span class="messages" ng-show="addPaciente.$submitted || addPaciente.ci.$touched">
					            <span ng-show="addPaciente.ci.$error.required">El campo es obligatorio.</span>
					            <span ng-show="addPaciente.ci.$error.min">Número de CI incorrecto.</span>
					          </span>
						</div>
						<div class="col-md-6" ng-show="exp">
					        <label class="control-label ">Expedido:<strong class="fg_red">*</strong></label>
		                      <select class="form-control" name="ci_expedido" ng-model="pacientes.per_ci_expedido" ng-model-options="{ updateOn: 'blur' }" ng-required="required_e" >
		                          <option value="LP">LA PAZ</option>
		                          <option value="OR">ORURO</option>
		                          <option value="PT">POTOSI</option>
		                          <option value="PA">PANDO</option>
		                          <option value="BN">BENI</option>
		                          <option value="SC">SANTA CRUZ</option>
		                          <option value="CB">COCHABAMBA</option>
		                          <option value="CH">CHUQUISACA</option>
		                          <option value="TJ">TARIJA</option>
		                     </select>
		                      <span class="messages" ng-show="addPaciente.$submitted || addPaciente.ci_expedido.$touched">
					            <span ng-show="addPaciente.ci_expedido.$error.required">El campo es obligatorio.</span>
					          </span>
						</div>
					    <div class="col-md-6" ng-show="exp_ext">
				          <label class="control-label ">Expedido: <strong class="fg_red">*</strong></label>
				            <input type="" class="form-control" name="exp_extranjero" value="{{valor_exp}}" readonly disabled>
				        </div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-4">
							<label for="nombre" class="control-label">Nombre: <strong class="fg_red">*</strong></label>
							<input class="form-control" name="nombres" type="Text" placeholder="Nombre" ng-model="pacientes.per_nombres" ng-model-options="{ updateOn: 'blur' }" ng-pattern="patternCadena" autofocus>
							<span class="messages" ng-show="addPaciente.$submitted || addPaciente.nombres.$touched">
				            <span ng-show="addPaciente.nombres.$error.required">El campo es obligatorio.</span>
				            <span ng-show="addPaciente.nombres.$error.pattern">No se admiten símbolos especiales o números.</span>
				          </span>
						</div>
						<div class="col-md-4">
							<label for="nombre" class="control-label">Apellido paterno: <strong class="fg_red">*</strong></label>
							<input class="form-control" name="apellido_primero" type="Text" placeholder="Apellido paterno" ng-model="pacientes.per_apellido_primero" ng-model-options="{ updateOn: 'blur' }" required ng-pattern="patternCadena">
							<span class="messages" ng-show="addPaciente.$submitted || addPaciente.apellido_primero.$touched">
				            <span ng-show="addPaciente.apellido_primero.$error.required">El campo es obligatorio.</span>
				            <span ng-show="addPaciente.apellido_primero.$error.pattern">No se admiten símbolos especiales o números.</span>
				          </span>
						</div>
						<div class="col-md-4">
							<label for="nombre" class="control-label">Apellido materno: <strong class="fg_red">*</strong></label>
							<input class="form-control" name="apellido_segundo" type="Text" placeholder="Apellido materno" ng-model="pacientes.per_apellido_segundo" ng-model-options="{ updateOn: 'blur' }" required ng-pattern="patternCadena">
							<span class="messages" ng-show="addPaciente.$submitted || addPaciente.apellido_segundo.$touched">
				            <span ng-show="addPaciente.apellido_segundo.$error.required">El campo es obligatorio.</span>
				            <span ng-show="addPaciente.apellido_segundo.$error.pattern">No se admiten símbolos especiales o números.</span>
				          </span>
						</div>
					</div>
					<br>
					<div class="row">
					<div class="col-md-6">
                      <label for="fecha_creacion" class="control-label">Fecha de nacimiento: <strong class="fg_red">*</strong></label>
                      <div class="row">
                        <div class="col-md-4">
                          <div class='input-group date'>
                            </div>
                              <select class="form-control" name="dia" ng-model="fechaNac.diac" ng-change="rest()" ng-options="dia.dia_id as dia.dia for dia in dias"   required>
                                <option value="">Dia</option>
                              </select>
                        </div>
                        <div class="col-md-4">
                          <select class="form-control" aria-label="MES" title="Mes" name="mes" ng-model="fechaNac.mesc" ng-change="rest()" required placeholder="MES">
                            <option value="">Mes</option>
                            <option value="01">Enero</option>
                            <option value="02">Febrero</option>
                            <option value="03">Marzo</option>
                            <option value="04">Abril</option>
                            <option value="05">Mayo</option>
                            <option value="06">Junio</option>
                            <option value="07">Julio</option>
                            <option value="08">Agosto</option>
                            <option value="09">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                          </select>
                        </div>
                      <div class="col-md-4">

                        <select class="form-control" name="anio" aria-label="ANIO" ng-model="fechaNac.anioc" ng-change="rest()" ng-options="anio.anio as anio.anio for anio in anios" required>
                           <option value="">Año</option>
                        </select>
                         <input my-valid-date ng-model="fechaNacimiento" name="myDateInput" placeholder="dd-mm-aaaa" type="hidden" class="form-control" ng-model-options="{ updateOn: 'blur' }" ng-pattern="patternFecha" readonly>
                      </div>  
                      </div> 
                         <span class="messages" ng-show="addPaciente.myDateInput">
                            <span ng-show="addPaciente.myDateInput.$error.pattern">La Fecha no es valida  :(.
                            </span>
                            <div ng-if=" var == 'cero'">
                              <span ng-show="addPaciente.myDateInput.$error">No es una fecha correcta :(.  
                              </span>
                            </div>                  
                         </span>               
                    </div>
                    <div class="col-md-6">
                      <label class="control-label">Sexo: <strong class="fg_red">*</strong></label>
                        <div class="row">
                          <div class="formulario">
                            <div class="radio">
                              <div class="col-md-6">
                                <input type="radio" name="genero" id="M" value="M" ng-model="pacientes.per_genero">
                                <label for="M">MASCULINO</label>
                              </div>
                              <div class="col-md-6">
                                <input type="radio" name="genero" id="F" value="F" ng-model="pacientes.per_genero">
                                <label for="F">FEMENINO</label>
                              </div>
                              <span class="messages" ng-show="addPaciente.$submitted || addPaciente.genero.$touched">
		                      <span ng-show="addPaciente.genero.$error.required">El campo es obligatorio.</span>
		                      </span>
                            </div>
                          </div>
                       </div>
                    </div>
                    </div>
                    <br>
                    <div class="row">
                    	<div class="col-md-4">
							<label class="control-label">Email:</label>
							<input type="" class="form-control" name="email" id="email" placeholder="ejemplo@hotmail.com" ng-model="pacientes.per_email">
							<span class="messages" ng-show="addPaciente.$submitted || addPaciente.email.$touched">
				            <span ng-show="addPaciente.email.$error.required">El campo es obligatorio.</span>
				            <span ng-show="addPaciente.email.$error.email">Formato de email incorrecto.</span>
				          </span>
						</div>
						<div class="col-md-4">
							<label class="control-label">Nro. Celular:</label>
							<input type="" class="form-control" name="numero_celular" id="numero_celular" placeholder="Ej. 78989898" ng-model="pacientes.per_numero_celular">
							<span class="messages" ng-show="addPaciente.$submitted || addPaciente.numero_celular.$touched">
				            <span ng-show="addPaciente.numero_celular.$error.required">El campo es obligatorio.</span>
				            <span ng-show="addPaciente.numero_celular.$error.min">Número de celular incorrecto.</span>
				            <span ng-show="addPaciente.numero_celular.$error.max">Número de celular incorrecto.</span>
				          </span>
						</div>
				        <div class="col-md-4">
							<label class="control-label">Permanencia: <strong class="fg_red">*</strong></label>
	                      	<select class="form-control" name="permanencia" ng-model="pacientes.per_tipo_permanencia">
	                            <option value="RESIDENTE">RESIDENTE</option>
	                            <option value="VISITANTE RECURRENTE NACIONAL">VISITANTE RECURRENTE NACIONAL</option>
	                            <option value="VISITANTE EVENTUAL NACIONAL">VISITANTE EVENTUAL NACIONAL</option>
	                            <option value="VISITANTE RECURRENTE EXTRANJERO">VISITANTE RECURRENTE EXTRANJERO</option>
	                            <option value="VISITANTE EVENTUAL EXTRANJERO">VISITANTE EVENTUAL EXTRANJERO</option>
                          	</select>
                          	<span class="messages" ng-show="addPaciente.$submitted || addPaciente.permanencia.$touched">
				            <span ng-show="addPaciente.permanencia.$error.required">El campo es obligatorio.</span>
				          </span>
						</div>
					</div>
				</div>	  
			</div>	  
			<hr>
			<h4 class="text-center text-primary">II. DOMICILIO / LUGAR DE RESIDENCIA</h4>
			<hr class="bg-green">	  
			<br>  
			<div class="row">
				 <div class="col-md-4" ng-controller="MunicipioCtrl">
                  	<label class="control-label">Municipio: <strong class="fg_red">*</strong></label>
                  	<select class="form-control" name="municipio" ng-model="pacientes.mun_id"  ng-options="municipio.mun_id as municipio.mun_nombre for municipio in municipios">
                  	</select>
                  	<span class="messages" ng-show="addPaciente.$submitted || addPaciente.municipio.$touched">
				        <span ng-show="addPaciente.municipio.$error.required">El campo es obligatorio.</span>
		           </span>
                </div>
				<div class="col-md-3">
					<label class="control-label">Zona/Comunidad: <strong class="fg_red">*</strong></label>
                    <input type=""  name="zona_comunidad" class="form-control" id="zona_comunidad" placeholder="Zona / Comunidad" ng-model="pacientes.dir_zona_comunidad" ng-pattern="patternCadenaNumero" required>
                    <span class="messages" ng-show="addPaciente.$submitted || addPaciente.zona_comunidad.$touched">
				        <span ng-show="addPaciente.zona_comunidad.$error.required">El campo es obligatorio.</span>
				        <span ng-show="addPaciente.zona_comunidad.$error.pattern">El formato introducido es incorrecto.</span>
				    </span>
				</div>	  
				<div class="col-md-3">
					<label class="control-label">Calle/Avenida: <strong class="fg_red">*</strong></label>
                    <input type="" name="avenida_calle" class="form-control" id="avenida_calle" placeholder="Avenida / Calle" ng-model-options="{ updateOn: 'blur' }" ng-model="pacientes.dir_avenida_calle" ng-pattern="patternCadenaNumero" required>
                     <span class="messages" ng-show="addPaciente.$submitted || addPaciente.avenida_calle.$touched">
				        <span ng-show="addPaciente.avenida_calle.$error.required">El campo es obligatorio.</span>
				        <span ng-show="addPaciente.avenida_calle.$error.pattern">El formato introducido es incorrecto.</span>
				    </span>
				</div>	  
				<div class="col-md-2">
					<label class="control-label">Número: <strong class="fg_red">*</strong></label>
                    <input type="text" name="numero_dir" class="form-control" id="numero_dir" placeholder="Numero" ng-model="pacientes.dir_numero" pattern="[0-9]{1,8}" required> 
                     <span class="messages" ng-show="addPaciente.$submitted || addPaciente.numero_dir.$touched">
				        <span ng-show="addPaciente.numero_dir.$error.required">El campo es obligatorio.</span>
				        <span ng-show="addPaciente.numero_dir.$error.pattern">El formato introducido es incorrecto.</span>
				    </span>
				</div>	  	  
			</div>
			<hr>
			<h4 class="text-center text-primary">III. INFORMACIÓN MÉDICA</h4>
			<hr class="bg-green">	  
			<br>	  
			<div class="row">
				<div class="col-md-4">
					<label for="hist_clinico" class="control-label">Cod. Historial: <strong class="fg_red">*</strong></label>
                    <input class="form-control" name="historial" id="hist_clinico" type="Text" placeholder="Codigo Historial" ng-model="pacientes.pe_hist_clinico" required>
                  	<span class="messages" ng-show="addPaciente.$submitted || addPaciente.historial.$touched">
				        <span ng-show="addPaciente.historial.$error.required">El campo es obligatorio.</span>
				    </span>
				</div>	  
				<div class="col-md-4">
					<label for="hist_clinico" class="control-label">Grupo Sanguineo:</label>
                    <select class="form-control" ng-model="pacientes.pac_grupo_sanguineo">
                        <option>AB+</option>
                        <option>AB-</option>
                        <option>A+</option>
                        <option>A-</option>
                        <option>B+</option>
                        <option>B-</option>
                        <option>O-</option>
                        <option>O+</option>
                        <option>NINGUNO</option>
                    </select>
				</div>	  
				<div class="col-md-4">
					<label for="alergia" class="control-label">Alergias:</label>
                   	<input class="form-control" id="alergias" type="text" name="alergias" ng-model="pacientes.pac_alergia">
				</div>	  
			</div>	   
			<br>
            <div class="row">
                <div class="col-md-4">
                 	<label for="seguro" class="control-label">Seguros: <strong class="fg_red">*</strong></label>
                   <div ng-controller="SeguroCtrl">
	                    <select class="form-control" name="seguro" ng-model="pacientes.seg_id" ng-options="seguro.seg_id as seguro.seg_nombre for seguro in seguros" ng-model-options="{ updateOn: 'blur' }" required>
	                    </select>
	                    <span class="messages" ng-show="addPaciente.seguro.$touched">
	                        <span ng-show="addPaciente.seguro.$error.required">El campo es obligatorio.</span>
	                    </span>
                    </div>
                </div> 
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6 col-md-offset-3 text-center">
              	<div class="well well-sm">
                  	<div class="checkbox">
						<label style="font-size: 1.5em">
							<input type = "checkbox" ng-model = "para_enviar" title="Haga click aqui para habilitar o deshabilitar el envío del formulario"> 
							<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
							<small style="font-size: 0.6em" class="text-primary" title="Haga click en la casilla de verificación del lado para registrar al paciente">
								<span class="glyphicon glyphicon-hand-left"></span>
								<span class="glyphicon glyphicon-chevron-left"></span>
								¿DESEA GUARDAR ESTE FORMULARIO?
							</small>
						</label>
					</div>
                  <br>
                  <button ng-show = "para_enviar" class="btn btn-primary" ng-click="submit($parent.pacientes, vm.per_ci, d); vista.enviar()" ng-disabled="addPaciente.$invalid" title="Debe llenar todos los campos obligatorios de manera correcta"><span class="glyphicon glyphicon-save"></span> GUARDAR </button>
                  	<p ng-show="ajustes.pagina.success != null" class="alert alert-success fade in"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ajustes.pagina.success}}
	                </p>
                </div>      
              </div>
            </div> 
            </form>
            </div> <!-- fin de fecha controller -->
		</div>	
	   </div>
	</div>
	 <script type="text/javascript">
	    $(":file").filestyle({buttonText: " Abrir"});
     </script>
  </div><!-- fin controlador UploadPacCtrl -->
</div>
