<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>

<!-- CONTEXT-MENU  -->
	<div ng-include="'./templates/menu_lateral.html'">
	</div>
<!-- CONTENIDO MODULO inicio -->
	<div class="col-md-8 col-sm-8">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-primary">
					<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
					{{ajustes.pagina.titulo}}
				</h2>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
			<!-- AQUI VAN LAS TABLAS O FORMULARIOS incrustados -->
			<!-- INICIO -->			
				<div class="well well-sm" style="background-color:#fff;">
					<div class="row">
			          	<div class="col-md-12">
			            	<div class="text-center cabecerapanel panel-heading">I. DATOS PERSONALES</div>
			          	</div>    
			        </div>
			        <br>
				    <div class="row">
			          	<div class="col-md-3">
			            	<label class="control-label">Nombres:</label><br>
			            	{{paciente.persona.per_nombres}}
			          	</div>    
			          	<div class="col-md-3">
			          		<label class="control-label">Apellido paterno:</label><br>
			          		{{paciente.persona.per_apellido_primero}}
			          	</div>
			          	<div class="col-md-3">
			          		<label class="control-label">Apellido materno:</label><br>
			          		{{paciente.persona.per_apellido_segundo}}
			          	</div>
			          	<div class="col-md-3">
			          		<label class="control-label">CI:</label><br>
			          		{{paciente.persona.per_ci + " " + paciente.persona.per_ci_expedido}}
			          	</div>
			        </div>
			        <br>
			        <div class="row">
			        	<div class="col-md-3">
			        		<label class="contro-label">Fecha de nacimiento:</label><br>
			        		{{paciente.persona.per_fecha_nacimiento}}
			        	</div>
			        	<div class="col-md-3">
			        		<label class="contro-label">Género:</label><br>
			        		{{paciente.persona.per_genero}}
			        	</div>
			        	<div class="col-md-3 texto">
			        		<label class="contro-label">E-mail:</label><br>
			        		{{paciente.persona.per_email}}
			        	</div>
			        	<div class="col-md-3">
			        		<label class="contro-label">Número de celular:</label><br>
			        		{{paciente.persona.per_numero_celular}}
			        	</div>
			        </div>
			        <br>
			        <div class="row">
		          		<div class="col-md-12">
		            		<div class="text-center cabecerapanel panel-heading">II. DIRECCIÓN / LUGAR DE RESIDENCIA</div>
		          		</div>    
		        	</div> 
		        	<br>   
			        <div class="row" ng-repeat="direccion in paciente.direccion">
		          		<div class="col-md-3">
		            		<label class="control-label">Zona/Comunidad:</label><br>
		            		{{direccion.dir_zona_comunidad | capitalize}}
		          		</div>    
		          		<div class="col-md-3">
		            		<label class="control-label">Calle/Avenida:</label><br>
		            		{{direccion.dir_avenida_calle | capitalize}}
		          		</div>    
		          		<div class="col-md-3">
		            		<label class="control-label">Número:</label><br>
		            		{{direccion.dir_numero | capitalize}}
		          		</div>    
		          		<div class="col-md-3">
		            		<label class="control-label">Tipo Vivienda:</label><br>
		            		{{direccion.dir_tipo | capitalize}}
		          		</div>    
		        	</div> 
		        	<br>
		        	<div class="row">
		        		<div class="col-md-12">
		        			<div class="text-center cabecerapanel panel-heading">III. INFORMACIÓN MÉDICA</div>
		        		</div>
		        	</div>
		        	<br>
		        	<div class="row">
		        		<div class="col-md-3">
		        			<label class="control-label">Historial Clínico:</label><br>
	                		<input class="form-control" name="hist_clinico" type="Text" placeholder="Codigo Historial" ng-model="paciente.paciente.pac_hist_clinico">
		        		</div>
	              		<div class="col-md-3">
	                		<label class="control-label">Grupo Sanguineo</label><br>
	                		<select class="form-control" ng-model="paciente.paciente.pac_grupo_sanguineo">
		                       <option>AB+</option>
		                       <option>AB-</option>
		                       <option>A+</option>
		                       <option>A-</option>
		                       <option>B+</option>
		                       <option>B-</option>
		                       <option>O-</option>
		                       <option>O+</option>
		                       <option>NINGUNO</option>
		                    </select>
	              		</div>
	              		<div class="col-md-3">
	                		<label class="control-label">Alergias:</label><br>
	                		<input class="form-control" name="alergia" type="text" placeholder="Alergias" ng-model="paciente.paciente.pac_alergia">
	              		</div>
	              		<div class="col-md-3" ng-controller="SeguroCtrl">
	                		<label class="control-label">Seguro:</label><br>
	                		<select class="form-control" name="seguro" ng-model="paciente.paciente.seg_id" ng-options="seguro.seg_id as seguro.seg_nombre for seguro in seguros">
	                      	</select>
	              		</div>
	            	</div>
	            	<br>
	            	<p ng-show="ajustes.pagina.success" class="alert alert-success" role="alert">
					  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  {{ajustes.pagina.success}}
					</p>
	            	<div class="row">
	            		<div class="col-md-2 col-md-offset-5 text-center">
					      	<button class="btn btn-primary"  ng-click="submit($parent.paciente)" ng-disabled="addPersona.$invalid"><span class="glyphicon glyphicon-save"></span> GUARDAR</button>
					    </div>
	            	</div>
			    </div>
			<!-- FIN -->
			<!-- AQUI VAN LOAS TABLAS O FORMULARIOS incrustados -->
			</div>
		</div>
	</div>
<!-- CONTENIDO MODULO fin -->
