<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>
<!-- CONTEXT-MENU  -->
<div ng-include="'./templates/menu_lateral.html'"></div>
<!-- CONTENIDO MODULO inicio -->
    <div class="col-md-8 col-sm-8">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-primary">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                   {{ajustes.pagina.titulo}} 
                </h2>
                <hr>
            </div>
        </div>
        <!--HERRAMIENTAS PARA LA VISTA-->
        <div class="row">
            <div class="col-md-12">
            <div class="well well-sm">
               <strong class="pull-left lead">Herramientas: &nbsp;</strong>
                <form class="form-inline pull-left">
                <input type="text" class="form-control" placeholder="Filtrar por ..." ng-model="texto">
                    
                </form>
            <div class="clearfix"></div>
                
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <!-- AQUI VAN LAS TABLAS O FORMULARIOS incrustados -->
            <!-- INICIO -->
            <div class="table-responsive">
                <div class="text-center" ng-show="loading"><br><img ng-src="./images/image.gif" class="loader-img"></div>
                <div ng-show="!loading && !msg && !error_inesperado">Usted no tiene familiares registrados en ningún establecimiento.</div>
                <div ng-show="!loading && !msg && error_inesperado" class="alert alert-danger" role="alert">Error inesperado, por favor vuelva a intentar o revise su conexión a Internet.</div>
                <table class="table table-hovertable table-bordered table-striped table-hover" ng-show="!loading && msg">
                    <thead>                     
                        <th >Nº</th>
                        <th >Nombres</th>
                        <th >Apellido Paterno</th>
                        <th >Apellido Materno</th>
                        <th >Parentesco</th>
                        <th >Realizar cita previa</th>
                        <th >Ver citas</th>
                    </thead>
                    
                    <tbody ng-repeat="familiar in familiares.familiares | filter:texto | orderBy:sortType:sortReverse">
                      <tr>
                        <td>{{$index+1}}</td>
                        <td>{{familiar.per_nombres}}</td>
                        <td>{{familiar.per_apellido_primero}}</td>
                        <td>{{familiar.per_apellido_segundo}}</td>
                        <td>{{familiar.fam_parentesco}}</td>
                        <td>
                            <a type="button" class="btn btn-primary" href="#servicios_ciudadanos/realizar_reserva/{{familiar.pac_id}}" title="Reservar cita médica para familiar"><span class="glyphicon glyphicon glyphicon-time"></span> Realizar cita previa</a>
                        </td>
                        <td>
                            <a type="button" class="btn btn-success" href="#servicios_ciudadanos/listar_reservas/{{familiar.pac_id}}" title="Ver citas médicas de un familiar"><span class="glyphicon glyphicon glyphicon-file"></span> Ver citas</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- FIN -->
            <!-- AQUI VAN LOAS TABLAS O FORMULARIOS incrustados -->
            </div>
        </div>
    </div>