<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>
<!-- CONTEXT-MENU  -->
<div ng-include="'./templates/menu_lateral.html'"></div>
<!-- CONTENIDO MODULO inicio -->
	<div class="col-md-8 col-sm-8">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-primary">
					<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
					{{ajustes.pagina.titulo}}
				</h2>
				<hr class="bg-green">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
			<!-- AQUI VAN LAS TABLAS O FORMULARIOS incrustados -->
			<!-- INICIO -->
			<div class="row" ng-if="!entendido">
				<div class="col-md-6">
					<div class="well well-sm text-justify bg-white lead">
						<h3 class="text-primary">
						¿Qué es la reserva de cita médica?
						</h3>
						<hr class="bg-green">
						<img src="./images/reserva_ficha_medica.png" class="img-responsive">
						El servicio de reserva de cita médica le permite obtener, una ficha para atención en un establecimiento
							de salud, pero sin el inconveniente de salir en la madrugada de su casa y hacer filas tediosas.<br>
						Con este servicio usted realiza la reserva de cita médica en el establecimiento donde tenga su historial medico disponible.
					</div>
				</div>
				<div class="col-md-6">
					<div class="well well-sm text-justify lead bg-white">
						<h3 class="text-primary">
							¿Como realizo una reserva?
						</h3>
						<hr class="bg-green">
						En tan solo 3 pasos:
						<ol>
							<li>Seleccione el establecimiento de salud y el servicio en el cual desea recibir atención y haga click en <strong>Buscar Horarios Disponibles</strong></li>
							<li>Le aparecera un conjunto de fichas con horarios disponibles, elija una opción haciendo click en el boton <strong>Reservar ficha</strong>.</li>
							<li>Pulse <strong>Confirmar Reserva</strong>....y listo</li>
						</ol>
						<button ng-click="entendi()" class="btn btn-primary btn-block">
							<span class="glyphicon glyphicon-ok"></span>
							 Entendido...¡¡QUIERO HACER MI RESERVA!!
						</button>
					</div>
				</div>
			</div>
			<form name="addReserva" ng-show="entendido">
			<div class="well well-sm" style="background-color:#fff;">
				<div class="alert alert-info" role="alert">
					Las reservas solo se hacen con un día de anticipación.
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
					  <div class="form-group">
						<label class="control-label">Seleccione el establecimiento de Salud:</label>
						  <select class="form-control" ng-model="datosEstab" name="establecimiento" ng-options="establecimiento as establecimiento.es_nombre for establecimiento in pac_est"  ng-change="selecciona_ser()" required>
						  </select>
						  <span class="messages" ng-show="addReserva.establecimiento.$touched">
				            <span ng-show="addReserva.establecimiento.$error.required">Debe seleccionar un establecimiento.</span>
				          </span>
					  </div>
					</div>	 
				</div>	
  
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
					  <div class="form-group">
						<label class="control-label">Seleccione el servicio para el cual desea hacer la reserva:</label>
						  <select class="form-control" ng-model="datosSer" name="servicio" ng-options="servicio as servicio.ser_nombre for servicio in servicios" required>
						  </select>
						  <span class="messages" ng-show="addReserva.servicio.$touched">
				            <span ng-show="addReserva.servicio.$error.required">Debe elegir un servicio.</span>
				          </span>
					  </div>
					</div>	  
				</div>  
				<div class="row">
					<div class="col-md-4 col-md-offset-4 text-center" >
						<button type="submit" class="btn btn-primary" ng-click="busca_horarios()" ng-disabled="addReserva.$invalid" title="Seleccione un establecimiento de salud y un servicio"><span class="glyphicon glyphicon-search"></span> Buscar horarios disponibles</button>
					</div>	  
				</div>	  
			</div>
			<!--{{date | date:'h:mm a'}}-->
			<hr>
			<div class="text-center" ng-show="loading && buscar">
				<br>
				<img ng-src="./images/image.gif" class="loader-img">
				<br><br>
			</div>
			<div ng-show="!loading && !msg && erroor && !tiene_cita" class="alert alert-info" role="alert">No hay fichas disponibles en este servicio :(</div>
			<div ng-show="!loading && !msg && !erroor && !tiene_cita" class="alert alert-danger" role="alert">Error inesperado, por favor vuelva a intentar :(</div>
			<div ng-show="!loading && !msg && erroor && tiene_cita" class="alert alert-danger" role="alert">El usuario ya tiene una cita médica para el día de mañana 
				<a ng-if="!es_familiar" href="#/servicios_ciudadanos/listar_reservas">VER CITAS</a>
				<a ng-if="es_familiar" href="#/servicios_ciudadanos/listar_reservas/{{pac_id}}">VER CITAS</a>
			</div>
			<h3 class="text-primary text-center" ng-show="!loading && msg">Estas son las fichas disponibles para el día de mañana {{horariosd[0].ad_fecha_atiende}} en el servicio: <strong>{{datosSer.ser_nombre}}</strong></h3>
			<hr class="bg-green" ng-show="!loading && msg">
			<div class="row" ng-show="!loading && msg">
				<div class="col-md-3">
					<div class="text-center">
						<h3>
							<img src="./images/consultorio.png">
							<br>
							Consultorio
						</h3>
						<hr class="bg-gray">
					</div>
				</div>
				<div class="col-md-3">
					<div class="text-center">
						<h3>
							<img src="./images/maniana.png">
							<br>
							Turno Mañana
						</h3>
						<hr class="bg-gray">
					</div>
				</div>
				<div class="col-md-3">
					<div class="text-center">
						<h3>
							<img src="./images/tarde.png">
							<br>
							Turno Tarde
						</h3>
						<hr class="bg-gray">
					</div>
				</div>
				<div class="col-md-3">
					<div class="text-center">
						<h3>
							<img src="./images/noche.png">
							<br>
							Turno Noche
						</h3>
						<hr class="bg-gray">
					</div>
				</div>
			</div>
			<!-- Cada una de estas filas representa un consultorio -->
			<div class="row" ng-if="buscar">
				<div class="well well-sm" ng-repeat="(key, value) in horariosd | groupBy: 'con_id' | countBy: 'con_id'">
					{{"Número de consultorios disponibles para el servicio elegido: " + value}}
				</div>
				<div class="well well-sm" ng-repeat="consultorio in horariosd | groupBy: 'con_id' | toArray:true | orderBy:ad_id ">
					<div class="row">
						<div class="col-md-3">
							<h4 class="lead text-center">
								<span class="text-primary">Consultorio:</span> {{consultorio[0].con_nombre}} <br>
							</h4>
							
						</div>
						<div class="col-md-3">	
							<!-- Cada uno de estos elementos representa una ficha  {{ficha.ad_hora_inicio | date:'h:mm a'}}-->
							<div class="well well-sm bg-white text-center" ng-repeat="ficha in consultorio | filter : ct_turno='MAÑANA' | orderBy:ad_id" ng-if="$index>=(consultorio[$index].ct_ficha_total-consultorio[$index].ct_ficha_sesar)">
							<!--
							PARA LAS FICHAS
							<div ng-repeat="(keyy, valuee) in consultorio | countBy: 'con_id'">
								{{'Nro fichas' + keyy +' '}}<br><br>
							</div>-->
								<strong>
									<p>
										<span class="text-primary">Ficha # </span>SSR-{{ficha.ad_numero_ficha}} 
										<span class="text-primary">&nbsp;|&nbsp;</span>
										<span class="text-primary glyphicon glyphicon-time">:  </span>{{ficha.ad_hora_inicio  | date: 'H:mm'}}
									</p>
									<button class="btn btn-primary" name="reserva" value="" data-toggle="modal" data-target="#miCuadroModal1" ng-click="get_ch_id(ficha)">
										<span ><i class="cr-icon glyphicon glyphicon-ok"></i></span>
										<strong><em>Reservar ficha</em></strong>
									</button>
								</strong>
							</div>
						</div>
						<!---->
						<div class="col-md-3">
							<!--<div ng-repeat="(keyy, valuee) in consultorio | countBy: 'con_id'">
								{{'Nro fichas' + valuee + ' ' + keyy}}
							</div>-->
							<div class="well well-sm bg-white text-center" ng-repeat="ficha in consultorio | filter : ct_turno='TARDE' | orderBy:ad_id" ng-if="$index >= (consultorio[$index].ct_ficha_total-consultorio[$index].ct_ficha_sesar)">	
								
								<strong>
									<p>
										<span class="text-primary">Ficha # </span>SSR-{{ficha.ad_numero_ficha}}  
										<span class="text-primary">&nbsp;|&nbsp;</span>
										<span class="text-primary glyphicon glyphicon-time">:  </span>{{ficha.ad_hora_inicio  | date: 'H:mm'}}
									</p>
									<button class="btn btn-primary" name="reserva" value="" data-toggle="modal" data-target="#miCuadroModal1" ng-click="get_ch_id(ficha)">
										<span ><i class="cr-icon glyphicon glyphicon-ok"></i></span>
										<strong><em>Reservar ficha</em></strong>
									</button>
								</strong>
							</div>
						</div>
						<div class="col-md-3">
							<div class="well well-sm bg-white text-center" ng-repeat="ficha in consultorio | filter : ct_turno='NOCHE' | orderBy:ad_id" ng-if="$index>=(consultorio[$index].ct_ficha_total-consultorio[$index].ct_ficha_sesar)">
								<strong>
									<p>
										<span class="text-primary">Ficha # </span>SSR-{{ficha.ad_numero_ficha}}  
										<span class="text-primary">&nbsp;|&nbsp;</span>
										<span class="text-primary glyphicon glyphicon-time">:  </span>{{ficha.ad_hora_inicio  | date: 'H:mm'}}
									</p>
									<button class="btn btn-primary" name="reserva" value="" data-toggle="modal" data-target="#miCuadroModal1" ng-click="get_ch_id(ficha)">
										<span ><i class="cr-icon glyphicon glyphicon-ok"></i></span>
										<strong><em>Reservar ficha</em></strong>
									</button>
								</strong>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--CUADRO MODAL-->
		  	<div id="miCuadroModal1" class="modal fade" role="dialog" tabindex="-1">
			  <div class="modal-dialog">
			  	<!--Primera parte de la reserva-->
			    <div class="modal-content" ng-if="!msg">
			      <div class="modal-header bg-green">
			        <button type="button" class="close" data-dismiss="modal">×</button>
			        <h2 class="modal-title fg-white">Confirmar reserva</h2>
			      </div>
			      <div class="modal-body lead">
			        <small>¿Desea confirmar la reserva de cita médica para el horario que ha elegido?</small>
			        <div class="well well-sm text-justify" style="background-color:#ddd;">
			        	<h1>Ficha Nº SSR-<strong>{{atiende.ad_numero_ficha}}</strong></h1>	
						<span class="text-primary">Establecimiento de Salud: </span> {{nombre_estab}}<br>
						<span class="text-primary">Consultorio: </span> {{atiende.con_nombre}}<br>
						<span class="text-primary">Fecha: </span> {{atiende.ad_fecha_atiende}}<br>
						<span class="text-primary">Hora estimada de atención: </span> {{atiende.ad_hora_inicio | date:'H:mm'}}
					</div>		
					<div class="alert alert-info" role="alert">
						<small>Despúes de que confirme, usted no podrá cancelar la reserva.</small>
					</div>
			      </div>
			      <div class="modal-footer lead text-center">
			        <button class="btn btn-primary col-md-offset-2 col-md-4 col-sm-4" ng-click="submit()"><span class="glyphicon glyphicon-ok"></span> CONFIRMAR RESERVA</button> &nbsp;
					<button class="btn btn-danger col-sm-4" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> CANCELAR</button>
			      </div>
			    </div>
			    <!--Segunda parte de la reserva-->
			    <div class="modal-content" ng-show="msg">
			      <div class="modal-header bg-green">
			        <button type="button" class="close" data-dismiss="modal">×</button>
			        <h2 class="modal-title fg-white">¡Reserva realizada correctamente!</h2>
			      </div>
			      <div class="modal-body">
			        <div class="well well-sm text-justify" style="background-color:#ddd;">
			        	<h2 class="text-center">Ficha Nº <strong>SSR-{{atiende.ad_numero_ficha}}</strong></h2>	
			        	<span class="text-primary" >Paciente: </span> {{paciente.persona.per_nombres + " " + paciente.persona.per_apellido_primero + " " + paciente.persona.per_apellido_segundo}}<br>
			        	<span class="text-primary">Establecimiento de Salud: </span> {{nombre_estab}}<br>
						<span class="text-primary">Médico: </span> {{funcionario.persona.per_nombres + " " + funcionario.persona.per_apellido_primero + " " + funcionario.persona.per_apellido_segundo}}<br>
						<span class="text-primary">Consultorio: </span> {{atiende.con_nombre}}<br>
						<span class="text-primary">Fecha de la consulta: </span> {{fecha_cita}}<br>
						<span class="text-primary">Hora estimada de atención: </span> {{atiende.ad_hora_inicio | date:'H:mm'}}<br>
						<br>
						<div class="text-center"><strong>
							Se le insinúa estar presente en el establecimiento de salud <font size="4">30 min.</font> antes de su consulta.
							</strong>						
						</div>  
					</div>
					<div class="row">
						<div class="col-md-12">
							<img src="./images/saludos_gobernacion_sedes.png" class="img-responsive">
						</div>
					</div>

			      </div>
			      <div class="modal-footer lead text-center">
			        <button class="btn btn-primary col-md-offset-2 col-sm-offset-1 col-md-3 col-sm-3" data-dismiss="modal" ng-click="hecho(true)"><span class="glyphicon glyphicon-ok"></span> HECHO</button>

			        <a ng-if="pac_id_fam==null" href="#/servicios_ciudadanos/listar_reservas" ng-click="hecho(false)" class="btn btn-primary col-md-6 col-sm-6" data-dismiss="modal"><span class="glyphicon glyphicon-file"></span> VER CITAS MÉDICAS</a>

			        <a ng-if="pac_id_fam!=null" href="#/servicios_ciudadanos/listar_reservas/{{paciente.paciente.pac_id}}" ng-click="hecho(false, paciente.paciente.pac_id)" class="btn btn-primary col-md-6 col-sm-6" data-dismiss="modal"><span class="glyphicon glyphicon-file"></span> VER CITAS DEL FAMILIAR</a>
			      </div>
			    </div>
			  </div>
			</div>
			<!--FIN CUADRO MODAL-->

			</form>
			<!-- FIN -->
			<!-- AQUI VAN LOAS TABLAS O FORMULARIOS incrustados -->
			
			</div>
		</div>
	</div>
<!-- CONTENIDO MODULO fin -->