<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>
<!-- CONTEXT-MENU  -->
<div ng-include="'./templates/menu_lateral.html'"></div>
<!-- CONTENIDO MODULO inicio -->
    <div class="col-md-8 col-sm-8">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-primary">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                   {{ajustes.pagina.titulo}} 
                </h2>
                <hr>
            </div>
        </div>
        <!--HERRAMIENTAS PARA LA VISTA-->
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        <form name="cita">
            <div class="well well-sm" style="background-color:#fff;">
                <div class="alert alert-danger" ng-show="ver">
                    <h4>Ya no es valido confirmar su cita.</h4>
                </div>
                <h3 class="text-center text-primary">DATOS DE LA CITA M&Eacute;DICA PROGRAMADA</h3>
                 <hr class="bg-green">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <label class="text-center text-primary">Nombres y apellidos:</label> {{paciente.per_nombres + " " + paciente.per_apellido_primero + " " + paciente.per_apellido_segundo}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <label class="text-center text-primary">M&eacute;dico:</label> {{funcionario.persona.per_nombres+" "+funcionario.persona.per_apellido_primero+" "+funcionario.persona.per_apellido_segundo}}
                        </div>                      
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <label class="text-center text-primary">Servicio:</label> {{nomser}}
                        </div>                      
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <label class="text-center text-primary">Fecha de consulta:</label>                               {{citas.cit_fecha_consulta}}
                        </div>                      
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <label class="text-center text-primary">Hora de consulta:</label>
                            {{citas.cit_hora_consulta}}
                        </div>                      
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <label class="text-center text-primary">N&uacute;mero de ficha SESAR:</label>
                            {{citas.cit_nro_ficha}}
                        </div>                      
                    </div>
                    <hr class="bg-green">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 text-center" >
                            <button class="btn btn-primary " ng-if="!es_familiar" ng-click="return()"><span class="glyphicon glyphicon-backward"></span>  VOLVER</button>
                            <button class="btn btn-primary " ng-if="es_familiar" ng-click="return(citas.pac_id)"><span class="glyphicon glyphicon-backward"></span>  VOLVER</button>
                            <button class="btn btn-success" ng-if="!es_familiar" data-toggle="modal" data-target="#miCuadroModal1" ng-click="save(citas)"><span class="glyphicon glyphicon-saved"></span>CONFIRMAR CITA</button>
                            <button class="btn btn-success" ng-if="es_familiar" data-toggle="modal" data-target="#miCuadroModal1" ng-click="save(citas,citas.pac_id)"><span class="glyphicon glyphicon-saved"></span>CONFIRMAR CITA</button>
                        </div>
                    </div>

                    <div id="miCuadroModal1" class="modal fade" role="dialog" tabindex="-1">
                        <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header bg-green fg-white">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title">CONFIRMAR CITA PROGRAMADA</h4>
                              </div>
                              <div class="modal-body lead text-center">
                                ¿Está seguro que desea confirmar su cita programada?<br>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="edit(id)">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    SI
                                </button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    NO
                                </button>
                              </div>
                          </div>
                        </div>
                    </div>                   
            </div>
        </form>
    </div>