<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>
<!-- CONTEXT-MENU  -->
<div ng-include="'./templates/menu_lateral.html'"></div>
<!-- CONTENIDO MODULO inicio -->
<div class="col-md-8 col-sm-8">
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-primary">
				<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
				{{ajustes.pagina.titulo}}
			</h2>
			<hr>
		</div>
	</div>
	<div class="col-md-12" ng-controller="FechaFunCtrl">
		<div ng-controller="CreateFuncionarioPersonaCtrl">
			<div ng-include="'forms/funcionario/create.html'"></div>
		</div>	
	</div>
</div>
<!-- CONTENIDO MODULO fin -->
