<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>
<!-- CONTEXT-MENU  -->
<div ng-include="'./templates/menu_lateral.html'"></div>
<!-- CONTENIDO MODULO inicio -->
	<div class="col-md-8 col-sm-8">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-primary">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					{{ajustes.pagina.titulo}}
				</h2>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" >
				<!-- INICIO -->
				<div class="well well-sm" style="background-color:#fff;" class="animated" >
		            <h4 class="text-center text-primary">I. DATOS GENERALES</h4>
		            <hr class="bg-green">
			        <br>
				    <div class="row">
			          	<div class="col-md-3 col-sm-4 text-center" ng-repeat="imagen in funcionario.imagen">
			            	<img ng-src="{{imagen.ima_enlace}}/{{imagen.ima_nombre}}" class="img-thumbnail center">
			          	</div>    
			          	<div class="col-md-9 col-sm-8">
			            	<div class="row">
			              		<div class="col-md-4 col-sm-6">
			                		<label class="text-primary">Nombre:</label><br>
			                		{{funcionario.persona.per_nombres}}
			              		</div>
			              		<div class="col-md-4 col-sm-6">
			                		<label class="text-primary">Apellido paterno:</label><br>
			                		{{funcionario.persona.per_apellido_primero}}
			              		</div>
			              		<div class="col-md-4 col-sm-6">
			                		<label class="text-primary">Apellido materno:</label><br>
			                		{{funcionario.persona.per_apellido_segundo}}
			                	</div>
			            	</div>
			            	<br>
			            	<div class="row">
			              		<div class="col-md-4 col-sm-6">
			                		<label class="text-primary">Fecha de nacimiento:</label><br>
			                		{{funcionario.persona.per_fecha_nacimiento}}
			                		
			              		</div>
			              		<div class="col-md-4 col-sm-6">
			                		<label class="text-primary ">CI:</label><br>
			                		{{funcionario.persona.per_ci + " "}} {{funcionario.persona.per_ci_expedido | uppercase}}
			              		</div>
			              		<div class="col-md-4 col-sm-6">
			                		<label class="text-primary ">Genero:</label><br>
			                		{{funcionario.persona.per_genero}}
			              		</div>
			            	</div>
			            	<br>
			            	<div class="row">
								<div class="col-md-4 col-sm-6">
			                		<label class="text-primary">Nro. Celular:</label><br>
			                		{{funcionario.persona.per_numero_celular}}
			              		</div>
			              		<div class="col-md-4 col-sm-6 texto">
			                		<label class="text-primary">Email:</label><br>
			                		{{funcionario.persona.per_email}}
			              		</div>
			              	</div>
			            	<br>
			            	<div class="row">
			              				
			            	</div>
			            	<br>
			          	</div>    
			        </div>
		            <h4 class="text-center text-primary">II. DIRECCIÓN</h4>
		            <hr class="bg-green">
		        	<br>
		        	<!-- <div ng-repeat="direccion in persona.direccion"> -->
		        	<div >
				        <div class="row">
			          		<div class="col-md-3 col-sm-4">
			            		<label class="text-primary">Departamento:</label><br>
			            		{{funcionario.departamento.dep_nombre | uppercase}}
			          		</div>    
			          		<div class="col-md-3 col-sm-4">
			            		<label class="text-primary">Provincia:</label><br>
			            		{{funcionario.provincia.pro_nombre | uppercase}}
			          		</div>    
			          		<div class="col-md-3 col-sm-4">
			            		<label class="text-primary">Municipio:</label><br>
			            		{{funcionario.municipio.mun_nombre | uppercase}}
			          		</div>    
			        	</div> 
				        <div class="row">
			          		<div class="col-md-3 col-sm-4">
			            		<label class="text-primary">Zona/Comunidad:</label><br>
			            		{{funcionario.zona.zon_nombre | uppercase}}
			          		</div>    
			          		<div class="col-md-3 col-sm-4">
			            		<label class="text-primary">Calle/Avenida:</label><br>
			            		{{funcionario.persona.per_avenida_calle | uppercase}}
			          		</div>    
			          		<div class="col-md-3 col-sm-4">
			            		<label class="text-primary">Número:</label><br>
			            		{{funcionario.persona.per_numero | uppercase}}
			          		</div>    
			        	</div> 
			        	<br>
			        </div>
			        <br>
		            <h4 class="text-center text-primary">III. DATOS DEL FUNCIONARIO</h4>
		            <hr class="bg-green">
		        	<br>
		        	<div class="row">
		          		<div class="col-md-3 col-sm-4">
		            		<label class="text-primary">Profesión:</label><br>
		            		{{funcionario.funcionario.fun_profesion | uppercase}}
		          		</div>
		          		<div class="col-md-3 col-sm-4">
		            		<label class="text-primary">Cargo:</label><br>
		            		{{funcionario.funcionario.fun_cargo | uppercase}}
		          		</div>
		          		<div class="col-md-3 col-sm-4">
		            		<label class="text-primary">Estado Laboral:</label><br>
		            		{{funcionario.funcionario.fun_estado | uppercase}}
		          		</div>
		          		<!--PARA CUANDO SE UTILIZEN LAS FECHAS
		          		<div class="col-md-3 col-sm-4" ng-if="funcionarios.funcionario.fun_estado_laboral == 'permanente' || funcionarios.fun_estado_laboral == 'PERMANENTE'">
		            		<label class="text-primary">Inicio trabajo:</label><br>
		            		{{fecha_ini}}
		          		</div>    
		          		<div class="col-md-3 col-sm-4" ng-if="funcionarios.funcionario.fun_estado_laboral == 'contrato' || funcionarios.fun_estado_laboral == 'CONTRATO'">
		            		<label class="text-primary">Inicio trabajo:</label><br>
		            		{{fecha_ini}}
		          		</div>    
		          		<div class="col-md-3 col-sm-4" ng-if="funcionarios.funcionario.fun_estado_laboral == 'contrato' || funcionarios.fun_estado_laboral == 'CONTRATO'">
		            		<label class="text-primary">Fin trabajo:</label><br>
		            		{{fecha_fin}}
		          		</div>
		          		-->
		          		<div class="col-md-3 col-sm-4" ng-if="funcionarios.funcionario_establecimiento.fe_estado_laboral == 'permanente' || funcionarios.funcionario_establecimiento.fe_estado_laboral == 'PERMANENTE'">
		            		<label class="text-primary">Nro. Item/Contrato: </label><br>
		            		{{funcionarios.funcionario_establecimiento.fe_memorandum}}
		          		</div>    
		          		<div class="col-md-3 col-sm-4" ng-if="funcionarios.funcionario_establecimiento.fe_estado_laboral == 'contrato' || funcionarios.funcionario_establecimiento.fe_estado_laboral == 'CONTRATO'">
		            		<label class="text-primary">Nro. Item/Contrato: </label><br>
		            		{{funcionarios.funcionario_establecimiento.fe_memorandum}}
		          		</div>    
			        </div> 
		        	<br>
			    </div>
				<!-- FIN -->
			</div>
		</div>
	</div>
<!-- CONTENIDO MODULO fin -->
