<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>
<!-- CONTEXT-MENU  -->
    <div ng-include="'./templates/menu_lateral.html'"> </div>
    
<!-- CONTENIDO MODULO inicio -->
    <div class="col-md-8 col-sm-8">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-primary">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                   {{ajustes.pagina.titulo}}
                </h2>
                <hr>
            </div>
        </div>
        <!--HERRAMIENTAS PARA LA VISTA-->
        <div class="row">
            <div class="col-md-12">
            <div class="well well-sm">
               <strong class="pull-left lead">Herramientas: &nbsp;</strong>
                <form class="form-inline pull-left">
                <input type="text" class="form-control" placeholder="Filtrar por nombre de rol" ng-model="rol_nombre">
                </form>
            <div class="clearfix"></div>
                
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-primary">
                   Nueva Rol &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   <a href="#/createrol" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> AGREGAR</a>
                </h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <!-- AQUI VAN LAS TABLAS O FORMULARIOS incrustados -->
            <!-- INICIO -->
            <div class="table-responsive">
                <div class="text-center" ng-show="loading"><br><img ng-src="./images/image.gif" class="loader-img"></div>
                <div ng-show="!loading && !msg">No se encontraron resultados</div>
            
                <table class="table table-hovertable table-bordered table-striped table-hover" ng-show="!loading && msg" id="tablaES">
                     <thead>
                        <th class="text-primary">
                            <a href="" ng-click="sortType = 'rol_nombre'; sortReverse = !sortReverse">
                            Nombre del Rol
                            <span ng-show="sortType == 'rol_nombre' && !sortReverse" class="glyphicon glyphicon-sort-by-alphabet"></span>
                            <span ng-show="sortType == 'rol_nombre' && sortReverse" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                            </a>
                        </th>
                        <th class="text-primary">Descripción</th>                   
                    </thead>
                    <tbody ng-repeat="roles in roles | orderBy:sortType:sortReverse | filter:rol_nombre">
                    
                    <tr>
                        <td>{{roles.rol_nombre | uppercase}}</td>
                        <td>{{roles.rol_descripcion}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- FIN -->
            <!-- AQUI VAN LOAS TABLAS O FORMULARIOS incrustados -->
            </div>
        </div>
    </div>