<div ng-include="'./templates/publico/menu_inicio_publico.html'"></div>
<div class="bg-textura">
	<div class="row">
		<div class="col-md-7">
			<img src="./images/banner_inicio.png" class="img-responsive">
		</div>
		<div class="col-md-5" style="padding-left:0;">
			<br><br>
			<div class="text-center">
				<h3 class="fg-white">Descubre los servicios y beneficios</h3>
				<iframe width="500" height="300" src="https://www.youtube.com/embed/Yz48Ibppma0?ecver=1" frameborder="0" gesture="media" allowfullscreen></iframe>
			</div>
			<br><br>
		</div>
	</div>
</div>
<!-- CONTENIDO MODULO inicio -->
		<div class="row">
			<div class="col-md-6">
						<div class="well well-sm bg-white no-border">
						<h2 class="text-center text-primary">¿Qué es SESAR?</h2>
						<hr class="bg-red">
						  <div class="panel-body lead text-justify">
  							  <img src="./images/que_es_sesar.png" class="img-responsive">
							  SESAR es la aplicación Web para Servicios de Salud, implementado en el Servicio Departamental de Salud SEDES La Paz 
							  en el marco de un modelo de Gobierno Electrónico para mejorar la gestión de los servicios en salud y 
							  sus recursos (establecimientos, personal, pacientes, entre otros)
							  via Internet.
<!--							  <br>
							  <button class="btn btn-primary pull-right">
								<span class="glyphicon glyphicon-plus"></span>
								¿Quieres saber más?</button>-->
						  </div>
						</div>
			</div>	
			<div class="col-md-6">
						<div class="well well-sm bg-white no-border">
						<h2 class="text-center text-primary">Gobierno Electrónico en Salud</h2>
						<hr class="bg-red">
						  <div class="panel-body lead text-justify">
  							  <img src="./images/egob_salud2.png" class="img-responsive">
							  El Gobierno Electrónico es el uso intensivo y estrat&eacute;gico de las Tecnologías de la Información y Comunicación,
							  cuyo fin es mejorar la prestación de servicios públicos hacia los ciudadanos,
							  y constituye una herramienta para mejorar los servicios de salud para los pobladores del
							  Departamento de La Paz.
						  </div>
						</div>
			</div>	
		</div>	
		<div class="row">
			<div class="col-md-12">
  					    <h2 class="text-center text-primary">Flujo de atenci&oacute;n de pacientes
						<hr class="bg-red">
						</h2>
							<div class="well well-sm bg-white no-border">
								<img src="./images/flujo.png" class="img-responsive">
							</div>
			</div>

		</div>
		<div class="row bg-red">
			<div class="col-md-12">
  					    <h2 class="text-center fg-white">Servicios para el Ciudadano</h2>
						<hr class="bg-white">
							<div class="row well well-sm bg-red no-border">
								<div class="col-md-6">	
								<div class="row">
								<div class="col-md-6">
								  <div class="well well-sm lead text-center text-primary bg-white">
										  <div class="text-center" style="padding-bottom:7px;">
											<img src="./images/info_establecimientos.png" class="img-responsive">
										  </div>	
										  <a href="#/servicios_informacion/establecimientos_salud">
										  Consulte información de Establecimientos de Salud
										  </a>
								  </div>
								</div>
								<div class="col-md-6">
								  <div class="well well-sm lead text-center text-primary bg-white">
										  <div class="text-center" style="padding-bottom:7px;">
											<img src="./images/buscar_cercanos.png" class="img-responsive">
										  </div>	
										  <a href="#/servicios_informacion/establecimientos_cercanos">
										  Busca Establecimientos de Salud Cercanos
										  </a>
								  </div>
								</div>
								</div>

								</div>
								<div class="col-md-6">	
								<div class="row">
								<div class="col-md-6">
								  <div class="well well-sm lead text-center text-primary bg-white">
										  <div class="text-center" style="padding-bottom:7px;">
											<img src="./images/registro_personas.png" class="img-responsive">
										  </div>	
										  <a href="#/servicios_ciudadanos/preregistro">
										  Registro Departamental de Personas
										  </a>
								  </div>
								</div>
								<div class="col-md-6">
								  <div class="well well-sm lead text-center text-primary bg-white">
										  <div class="text-center" style="padding-bottom:7px;">
											<img src="./images/reserva_cita.png" class="img-responsive">
										  </div>	
										  <a href="#/login">
										  Reserve su Cita Médica en Centros de Salud
										  </a>
								  </div>
								</div>
								</div>
								</div>
							</div>
			</div>

		</div>
				<div class="row">
					<div class="col-md-9">
								<div class="well well-sm bg-white no-border">
								<h2 class="text-center text-primary">¿Necesita ayuda?</h2>
								<hr class="bg-red">
								  <div class="panel-body text-justify">
									  <div class="row">
										<div class="col-md-4">
										  <iframe width="100%" height="200" src="https://www.youtube.com/embed/Yz48Ibppma0?ecver=1" frameborder="0" gesture="media" allowfullscreen></iframe>
										  <div class="text-center text-primary lead" style="padding-top:7px;">Tutorial para pacientes</div>
										  <div class="lead">
											Mira el video para conocer m&aacute;s sobre los servicios que los pacientes 
											tienen a su disposici&oacute;n.
										  </div>
										</div>
										<div class="col-md-4">
										  <img src="./images/sesar_carro.png" style="width:100%;" class="img-responsive">
										  <div class="text-center text-primary lead" style="padding-top:7px;">¿Qui&eacute;nes ya usan SESAR?</div>
										  <small class="lead">
											Estos son los Establecimientos de Salud que utilizan los servicios de SESAR:
										  </small>
											<div class="well well-sm">
												<div class="row">
													<div class="col-md-3">
													<img src="./images/centro.png" style="width:100%;" class="img-responsive">
													</div>
													<div class="col-md-9" style="padding-left:0;">
														<span class="text-primary">Centro de Salud Integral</span> 
														<br>
														<b>EL ROSAL</b>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-4">
										  <img src="./images/sesar_casa.png" style="width:100%;" class="img-responsive">
										  <div class="text-center text-primary lead" style="padding-top:7px;">Contáctanos</div>
										  <small class="lead">
											Encuentranos en:
										  </small>
											<div class="well well-sm">
												<p><b>Direcci&oacute;n:</b> Calle Capitán Ravelo #2180, Sopocachi, La Paz, Bolivia.</p>
												<p><b>Telefonos:</b> 2440954 - 2440956 - 2440169 - 2441350 </p>
											</div>
										</div>
									  </div>
								  </div>
								</div>
					</div>	
					<div class="col-md-3">
								<div class="well well-sm bg-white no-border">
								<h2 class="text-center text-primary">SESAR en tu móvil</h2>
								<hr class="bg-red">
								  <div class="panel-body lead text-justify">
										<div class="text-center">
										  <img src="./images/sesar_en_apk.png" class="img-responsive">
										</div>
										  <small>
										  Para acceder a los servicios, tambien puedes usar la app para Android.
										  </small>
										  <button class="btn btn-block btn-lg btn-primary">
											<span class="glyphicon glyphicon-download"></span>
											Descargar app
										  </button>
								  </div>
								</div>
					</div>
				</div>
		
<!-- CONTENIDO MODULO fin -->