<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>
<!-- CONTEXT-MENU  -->
<div ng-include="'./templates/menu_lateral.html'"></div>
<!-- CONTENIDO MODULO inicio -->
<div class="col-md-8 col-sm-8">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-primary">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        {{ajustes.pagina.titulo}}
      </h2>
      <hr>
    </div>
  </div>
  <div class="col-md-12">
    
      <div ng-controller="apiAppCtrl_numeromuestra">
        <p>
          <h4 class="text-primary">Instrucciones</h4>
          Para la asignacion del n&uacute;mero de muestra:</b>
          <ul>
            <li>Debe ingresar el n&uacute;mero muestra en el respectivo buscador</li>
            <li>Luego pulse en <b>Buscar</b></li>
            <li>En el conjunto de resultados, pulse en <b>Registrar</li>
          </ul>
          Si el n&uacute;mero de muestra ingresado no fue registrado, no se mostrar&aacute;n resultados</b>
        </p>
        <!-- Inicio Controller apiAppCtrl -->
       
         <div class="well well-sm">
           <div class="row">
             <div class="col-md-6 col-md-offset-2">
                <input class="form-control input-lg" ng-model="numero_muestra" type="text" placeholder="Escriba el Nro. de Muestra">
             </div>
             <div class="col-md-4">
             <button class="btn btn-primary btn-lg" ng-click="buscaNumeroMuestra()"><span class="glyphicon glyphicon-search"></span><strong> BUSCAR</strong></button>
             </div>

           </div>  
         </div>
         <div><center><h3>RESULTADOS<span class="text-primary">  {{ tamanio }} </span></h3></center></div>
         <div ng-if="ver">
            <div class="lead text-center">
              <hr>
            </div>
                  <div class="well well-sm">
                    <div class="panel">
                      <div class="text-center text-primary">I. DATOS GENERALES DEL USUARIO</div>
                      <hr class="bg-green">
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-md-6">
                              <label class="control-label ">Nombre:</label>
                              <input disabled class="form-control" ng-model="muestra.per_nombres">
                          </div>
                          <div class="col-md-3">
                            <label class="control-label ">CI:.</label>
                            <div class="input-group">
                                  <input  disabled class="form-control" id="" ng-model="muestra.per_ci">  
                              </div>
                          </div>
                          <div class="col-md-3">
                            <label class="control-label ">Fecha:</label>
                            <div class="input-group">
                                  <label class="form-control">{{CurrentDate | date:'dd/MM/yyyy'}} </label>
                                  <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-calendar"></span>
                                  </span>
                              </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group col-md-6">
                              <label for="sevref" class="control-label ">Tipo de usuario:<strong class="fg_red">*</strong></label>
                              <input disabled class="form-control" id="" ng-model="muestra.mue_tipo" placeholder="CONTROL-REVISAR EN BD">
                          </div>   
                          <div class="form-group col-md-6">
                              <label for="sevref" class="control-label ">Numero de Muestra:<strong class="fg_red"> *</strong></label>
                              <input disabled class="form-control" id="" ng-model="muestra.mue_num_muestra">
                          </div>
                          {{contrareferencia.fe_id_contacto}}
                        </div>
                      </div>
                      <center>
                      <button type="submit" class="btn btn-success" ng-click="saveplnegativo(muestra.mue_id)"><span class="glyphicon glyphicon-minus"></span> NEGATIVO</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                          <button type="submit" ng-click="savepl(muestra.mue_id)" class="btn btn-danger"><span class="glyphicon glyphicon-plus"></span> POSITIVO</button>
                    </center>
                    </div>
                  </div>
         </div> <!-- div del message -->
         <!--  <div class="row panel-group tabla-cuerpo">  -->
         </div>  
     <!-- fin ng-show -->

      <!-- fin datos del funcionario -->
  </div>  





  </div>
</div>


