<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>
<!-- CONTEXT-MENU  -->
  <div ng-include="'./templates/menu_lateral.html'">
  </div>
<!-- CONTENIDO MODULO inicio -->
  <div class="col-md-8 col-sm-8">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-primary">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          {{ajustes.pagina.titulo}}
     
        </h2>
        <hr>
      </div>
    </div>
      <div class="col-md-12">
      	<div class="panel panel-default">
  		    <h5>&nbsp;Control diario <b>{{hoy}}</b></h5>
  		</div>
      <button class="btn btn-default" onclick="generate_reportes()"><span class="glyphicon glyphicon-save-file"></span> Exportar reporte en PDF</button>
      <br>
      <br>
      <br>
   		<div class="table-responsive" >
   			<table  class="table table-bordered table-hover" id="tableREP">
   				<thead  class="well well-sm">
   					<th>Tipo de atenci&oacute;n</th>
   					<th>Primera fecha</th>
   					<th>Nombre completo</th>
   					<th>Empresa de trabajo</th>
   					<th>Resultado de prueba</th>
            <th>Resumen (positivo - negativo)</th>
            <th>Segunda fecha</th>
            <th>Responsable</th>
   				</thead>
   				<tbody ng-repeat="laboratorio in laboratorio">
   					<tr>
   						<td>{{""}}</td>
   						<td>{{""}}</td>
              <td>{{laboratorio.per_nombres}}</td>
   						<td>{{""}}</td>
   						<td>{{laboratorio.pl_estado}}</td>
   						<td>{{""}}</td>
              <td>{{""}}</td>
              <td>{{laboratorio.responsable}}</td>
   					</tr>
   				</tbody>
   			</table>
	   	</div>

    </div>

