<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>

<!-- CONTEXT-MENU  -->
  <div ng-include="'./templates/menu_lateral.html'">
  </div>
  <div class="col-md-8 col-sm-8">
       <div class="row">
          <div class="col-md-12">
            <h2 class="text-primary">
              <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
              {{ajustes.pagina.titulo}}
            </h2>
            <hr class="bg-green">
          </div>
       </div>
       <!-- Contenido de la vista -->
       	<form name="addCita">
	        <div class="well well-sm" style="background-color:#fff;">
				<div class="alert alert-info" rolfe="alert">
					<h4>Debe seleccionar la fecha para registrar la cita m&eacute;dica programada.</h4>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
					  <div class="form-group">
						<label class="control-label">Seleccionar la fecha:</label>
						  	<form role="form"  name="reserva" novalidate>
								<div class="input-group" class="form-inline pull-left">
									<input  my-valid-date type="text" name="myDateInput" class="form-control" id="fecha_cita" placeholder="dd-mm-yyyy" ng-model="fecha"  required >
									<span class="input-group-addon">
				                    	<span class="glyphicon glyphicon-calendar"></span>
				                	</span>
								</div>
			            	    <span class="messages" ng-show="reserva.myDateInput.$touched">			 
								 	<span ng-show="!reserva.myDateInput.$valid">LA FECHA ES INCORRECTA....!!</span>    
		                    	</span>
							</form>
					  </div>
					</div>	 
				</div>
				<div class="row">
					<div class="col-md-4 col-md-offset-4 text-center" >
						<button type="submit" class="btn btn-primary" ng-click="buscar_horarios()" ng-disabled="addCita.$invalid" title="Seleccione un establecimiento de salud y un servicio"><span class="glyphicon glyphicon-search"></span> Buscar horarios</button>
					</div>	  
				</div>
			</div>
		</form>

			<div class="text-center" ng-show="loading">
				<br>
				<img ng-src="./images/image.gif" class="loader-img">
				<br><br>
			</div>
			<div ng-show="valida" class="alert alert-danger" role="alert"><h4>Oops! El usuario ya tiene una cita programada</h4></div>

			<div class="text-center lead" ng-show="!loading && !msg && buscar && !valida"  role="alert">No hay fichas disponibles para la fecha seleccionada :(</div>

			<h3 class="text-center" ng-show="!loading && msg && verifica"><span class="text-primary ">Fichas disponibles para el</span> {{fecha | date: 'dd-MM-yyyy'}}.</h3>
			<h3 class="text-primary text-center" ng-show="!loading && msg"><strong>Existe <span class="label label-danger"><strong><b>{{cont}}</b></strong></span> citas programadas para la fecha seleccionada</strong></h3>
			<div class="row" ng-show="!loading && msg && verifica">
				<div class="col-md-4">
					<div class="text-center">
						<h3>
							<!-- <img src="./images/maniana.png"> -->
							<br>
							Turno Mañana
						</h3>
						<hr class="bg-gray">
					</div>
				</div>
				<div class="col-md-4">
					<div class="text-center">
						<h3>
							<!-- <img src="./images/tarde.png"> -->
							<br>
							Turno Tarde
						</h3>
						<hr class="bg-gray">
					</div>
				</div>
				<div class="col-md-4">
					<div class="text-center">
						<h3>
							<!-- <img src="./images/noche.png"> -->
							<br>
							Turno Noche
						</h3>
						<hr class="bg-gray">
					</div>
				</div>
			</div>

			<div class="row" ng-if="buscar">
				<!-- fichas del turno maniana -->
				<div class="col-md-4">	
					<div class="well well-sm text-center" ng-repeat="horario in horariosd | filter : ct_turno='MAÑANA'">
						<strong>
							<p>
								<span class="text-primary">Ficha # </span>SSR-{{horario.ad_numero_ficha}} 
								<span class="text-primary">&nbsp;|&nbsp;</span>
								<span class="text-primary glyphicon glyphicon-time">:  </span>{{horario.ad_hora_inicio  | date: 'H:mm'}}
							</p>
							<button class="btn btn-primary" name="reserva" value="" data-toggle="modal" data-target="#miCuadroModal1" ng-click="get_inf(horario)">
								<span ><i class="glyphicon glyphicon-saved"></i></span>
								<strong><em>Programar cita</em></strong>
							</button>
						</strong>
					</div>
				</div>

				<div class="col-md-4">
					<div class="well well-sm text-center" ng-repeat="horario in horariosd | filter : ct_turno='TARDE'">	
						<strong>
							<p>
								<span class="text-primary">Ficha # </span>SSR-{{horario.ad_numero_ficha}}  
								<span class="text-primary">&nbsp;|&nbsp;</span>
								<span class="text-primary glyphicon glyphicon-time">:  </span>{{horario.ad_hora_inicio  | date: 'H:mm'}}
							</p>
							<button class="btn btn-primary" name="reserva" value="" data-toggle="modal" data-target="#miCuadroModal1" ng-click="get_inf(horario)">
								<span ><i class="glyphicon glyphicon-saved"></i></span>
								<strong><em>Programar cita</em></strong>
							</button>
						</strong>
					</div>
				</div>

				<div class="col-md-4">
					<div class="well well-sm text-center" ng-repeat="horario in horariosd | filter : ct_turno='NOCHE'">
						<strong>
							<p>
								<span class="text-primary">Ficha # </span>SSR-{{horario.ad_numero_ficha}}  
								<span class="text-primary">&nbsp;|&nbsp;</span>
								<span class="text-primary glyphicon glyphicon-time">:  </span>{{horario.ad_hora_inicio  | date: 'H:mm'}}
							</p>
							<button class="btn btn-primary" name="reserva" value="" data-toggle="modal" data-target="#miCuadroModal1" ng-click="get_inf(horario)">
								<span ><i class="glyphicon glyphicon-saved"></i></span>
								<strong><em>Programar cita</em></strong>
							</button>
						</strong>
					</div>
				</div>

				<!--CUADRO MODAL-->
			  	<div id="miCuadroModal1" class="modal fade" role="dialog" tabindex="-1">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header bg-green">
				        <button type="button" class="close" data-dismiss="modal">×</button>
				        <h3 class="modal-title fg-white"><span ><i class="glyphicon glyphicon-calendar"></i></span>Confirmar cita programada</h3>
				      </div>
				      <div class="modal-body lead">
				        <h2><strong><small>¿Desea confirmar la cita programada para la fecha y hora que ha elegido?</small></strong></h2>
				        <div class="well well-sm text-justify" style="background-color:#ddd;">
				        	<span class="text-primary">Paciente: </span>{{paciente.per_nombres+" "+paciente.per_apellido_primero+" "+paciente.per_apellido_segundo}} <br>
				        	<span class="text-primary">Fecha de cita programada: </span>{{horariog.ad_fecha_atiende}} <br>
				        	<span class="text-primary">Servicio: </span>{{nomser}} <br>
							<span class="text-primary">Hora estimada de atención: </span> {{horariog.ad_hora_inicio | date:'H:mm'}}<br>
							<span class="text-primary">Ficha Nº SSR-</span>{{horariog.ad_numero_ficha}}	<br>
						</div>		
				      </div>
				      <div class="modal-footer lead text-center">
				        <button class="btn btn-primary col-md-offset-2 col-md-4 col-sm-4" data-dismiss="modal" ng-click="submit()"><span class="glyphicon glyphicon-ok"></span>REGISTRAR CITA</button> &nbsp;
						<button class="btn btn-danger col-sm-4" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> CANCELAR</button>
				      </div>
				 	</div>
				  </div>
				</div>
			</div>
   </div>


<!-- script para la fecha  -->
<script type="text/javascript">
 $.datepicker.regional['es'] = {
 closeText: 'Cerrar',
 prevText: '< Ant',
 nextText: 'Sig >',
 currentText: 'Hoy',
 monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
 monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
 dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
 dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
 dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
 weekHeader: 'Sm',
 dateFormat: 'dd-mm-yy',
 firstDay: 1,
 isRTL: false,
 showMonthAfterYear: false,
 yearSuffix: ''
 };

 $.datepicker.setDefaults($.datepicker.regional['es']);
    $( function() {
      $( "#fecha_cita" ).datepicker();
    } );
</script>