<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>
<!-- CONTEXT-MENU  -->
	<div ng-include="'./templates/menu_lateral.html'">
	</div>
<!-- CONTENIDO MODULO inicio -->
	<div class="col-md-8 col-sm-8">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-primary">
					<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
					{{ajustes.pagina.titulo}}
				</h2>
				 <hr class="bg-green">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
			<div class="well well-sm">
				<strong class="pull-left lead">Herramientas: &nbsp;</strong>
				<form class="form-inline pull-left">
					<input type="text" class="form-control" placeholder="Filtrar por ..." ng-model="per_nombres">
				</form>
				&nbsp;&nbsp;
				<!--<button class="btn btn-primary"><span class="glyphicon glyphicon-tasks"></span> Exportar lista en XLS</button>-->
				<button class="btn btn-default" onclick="generateREF_AE()"><span class="glyphicon glyphicon-save-file"></span> Exportar lista en PDF</button>
				<div class="clearfix"></div>
			</div>
			</div>
		</div>
		
		<div class="row" ng-controller="RecepReferenciaCtrl">
			<div class="col-md-12"> 
			<!-- AQUI VAN LAS TABLAS O FORMULARIOS incrustados -->
			<!-- INICIO -->
			<div class="text-center" ng-show="loading"><br><img ng-src="./images/image.gif" class="loader-img"></div>
					<div ng-show="!loading && !msg">No se encontraron resultados</div>
					<div class="table-responsive">
				        <table class="table table-bordered  table-hover" ng-show="!loading && msg" id="tableREF">
							<thead >
								<th >Nº</th>
								<th >
									<a href="" ng-click="sortType = 'created_at'; sortReverse = !sortReverse">
				                	Fecha de Recepción
				                	<span ng-show="sortType == 'created_at' && !sortReverse" class="glyphicon glyphicon-chevron-up"></span>
				                    <span ng-show="sortType == 'created_at' && sortReverse" class="glyphicon glyphicon-chevron-down"></span>
				                    </a>
								</th>
			                    <th >Paciente</th>
			                    <th >Seguro</th>
			                    <th >Establecimiento Origen</th>
			                    <th >Codigo</th>
			                    <th >Motivo</th>
			                    <th >Detalle</th>
			                    <th ng-if="user.rol_id == '4' || user.rol_id == '9' ">Contrareferenciar</th>
							</thead>
							<tbody  ng-repeat="refer in refers | orderBy:sortType:sortReverse | filter:per_nombres"><!-- ng-style="estilo"ng-if="refer.br_estado_referencia='true' " ng-model="estilo.color" -->
							  <tr >
								<td >{{$index + 1}}</td>
								<td WIDTH="200">{{refer.created_at}}</td>
								<td><a href="#referencias/ver/{{refer.br_id}}">{{refer.per_apellido_primero + " " + refer.per_apellido_segundo + " " + refer.per_nombres}}</td></a>
								<td>{{refer.br_seguro}}</td>
								<td>{{refer.es_nombre}}</td>
								<td>{{refer.br_cod}}</td>
								<td>{{refer.br_motivo}}</td>
								
								<!-- <td>{{refer.br_estado_referencia}}</td> -->
								<!--<td>
								<input disabled type="checkbox" name="checkbox" id="checkbox1" class="formulario" ng-model="refer.br_estado_referencia">
								 <label for="" ng-if="refer.br_estado_referencia='true'">Recepcionado</label> -->
								<!--<div class="contenedorinputs"><input disabled class="inputradio" type="checkbox"  ng-model="presta.pre_necesita_ref"><span class="inputfalso"></span></div> 
							    </td>-->
								<!--  <td ng-if="user.rol_id == '4'">
					               
					             </td> -->
					            <td ><a href="#referencias/ver/{{refer.br_id}}" title="Ver" data-toggle="tooltip" class="btn btn-success"><span class="glyphicon glyphicon-file "></span></a>
					            </td>
								<td ng-if="user.rol_id == '4' || user.rol_id == '9'">
									<script>
										$(document).ready(function(){
										    $('[data-toggle="tooltip"]').tooltip();   
										});
									</script>
									<a ng-href="#/contrareferencia/create/{{refer.br_id}}" data-toggle="tooltip"><button title="Contrareferenciar" class="btn btn-xs btn-primary btn-success"><span class="glyphicon glyphicon-new-window"></span> Contrareferenciar</button></a>
								</td>
							  </tr>
							</tbody>
						</table>
					</div>	
			</div>
		</div>
			<!-- FIN -->
			<!-- AQUI VAN LOAS TABLAS O FORMULARIOS incrustados -->
			</div>
		</div>
	</div>
<!-- CONTENIDO MODULO fin -->
<style type="text/css">
.red {
    /*color: red;*/
    background: #F22121; 
}

.green {
    /*color: green;*/
    background: green;
}
</style>