<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>
<!-- CONTEXT-MENU  -->
	<div ng-include="'./templates/menu_lateral.html'">
	</div>
   
<!-- CONTENIDO MODULO inicio  190.181.59.40ng-controller="DatosFuncioarioController as v"-->
  <div class="col-md-8 col-sm-8"  >
 <!-- <div > -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-primary">
        <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
        {{ajustes.pagina.titulo}}
      </h2>
     
      <hr class="bg-green">
    </div>
  </div>
  <div class="row" >
  <!-- INICIO DE CONTROLADOR DE PDF -->
  <div ng-controller="pdf_ref_Ctrl">
    <div class="col-md-12" >
    <!-- AQUI VAN LAS TABLAS O FORMULARIOS incrustados ng-controller="apiApppCtrl as vm" -->
    <!-- INICIO -->
    <h3 class="text-primary" align="center">
      Boleta de Referencia Nro. {{referencias.referencia.br_cod}}
      <a href="#contrareferencia/ver/{{contra}}" class="btn btn-success" ng-if="contra != 0">Ver contrareferencia</a>
            <label class="btn btn-danger" ng-if="contra == 0" disabled>No se realizó la contrareferencia</span></label>
      <br>
    </h3>

    <div class="well well-sm" style="background-color:#fff;" >
      <h4 class="text-center text-primary">I. ESTABLECIMIENTO ORIGEN</h4>
      <hr class="bg-green">  
      <div class="row">
        <div class="col-md-6">
            <label for="nombre" class="control-label">Establecimiento que Refiere:</label>
            <div>{{referencias.establecimiento_origen.es_nombre}}</div>
        </div>  
        <div class="col-md-4">
          <label for="nit" class="control-label">Código de Referencia:</label>
          <div>{{referencias.referencia.br_cod}}</div>
        </div> 
        <div class="col-md-6">
            <label for="resolucion" class="control-label">Seguro Paciente:</label>
            <div class="texto">{{referencias.referencia.br_seguro}}</div>
        </div>    
        <div class="col-md-4">
           <label for="nit" class="control-label">Fecha Referencia:</label>
           <div>{{fechaREF}}  {{horaREF}}</div>
        </div> 
      </div> 
      <br>
      <h4 class="text-center text-primary">II. FICHA DE IDENTIFICACIÓN</h4>
      <hr class="bg-green"> 
        
      <div class="row" >
        <div class="col-md-4" >
            <label for="nomp" class="control-label">Nombres del paciente: </label>
            <div>{{referencias.persona_paciente.per_nombres+' '+referencias.persona_paciente.per_apellido_primero}}</div>
        </div>  
        <div class="col-md-6"  ng-repeat="direccion in referencias.direccion">
            <label for="nomp" class="control-label">Dirección: </label>
            <div>{{direccion.dir_zona_comunidad+' '+direccion.dir_avenida_calle+' # '+direccion.dir_numero}}</div>
        </div>  
         <div class="col-md-6" >
            <label for="nomp" class="control-label">Edad: </label>
            <div ng-if="edad.edad<5">{{edad.edad}} años {{edad.mes_n}} meses {{edad.dia_a}} dias</div>
            <div ng-if="edad.edad>5">{{edad.edad}} años </div>
        </div>  
      </div> 
      <br>
      <div class="row">
        <div class="col-md-12">
         <label for="resolucion" class="control-label">Datos Clinicos:</label>
        </div>  
      </div> 
      <div class="row">
        <div class="col-md-2">
            <label for="nit" class="control-label">F.C.(lpm):</label>
            <div>{{referencias.referencia.br_frec_cardiaca}}</div>
        </div>   
         <div class="col-md-2">
            <label for="nit" class="control-label">F.R.(rpm):</label>
            <div>{{referencias.referencia.br_frec_resp}}</div>
        </div>    
         <div class="col-md-2">
            <label for="nit" class="control-label">P.A.S.(mmHg):</label>
            <div>{{referencias.referencia.br_pa_sistolica}}</div>
        </div> 
         <div class="col-md-2">
            <label for="nit" class="control-label">P.A.D.(mmHg):</label>
            <div>{{referencias.referencia.br_pa_diastolica}}</div>
        </div> 
         <div class="col-md-2">
            <label for="nit" class="control-label">TEMP(°C):</label>
            <div>{{referencias.referencia.br_temperatura}}</div>
        </div>  
         <div class="col-md-2">
             <label for="nit" class="control-label">PESO(kg):</label>
             <div>{{referencias.referencia.br_peso}}</div>
        </div>  
        <div class="col-md-2">
             <label for="nit" class="control-label">TALLA(m):</label>
             <div>{{referencias.referencia.br_talla}}</div>
        </div>    
        <div class="col-md-2">
             <label for="nit" class="control-label">IMC(Kg/m):</label>
             <div>{{imc}}</div>
        </div>  
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
            <label for="nit" class="control-label">Resumen de Anamnesis y Examen clinico:</label>
            <div class="texto">{{referencias.referencia.br_resumen}}</div>
        </div>
        <div class="col-md-6">
            <label for="nit" class="control-label">Resultados, examenes complementarios de diagnostico:</label>
            <div class="texto">{{referencias.referencia.br_resultado_examen}}</div>
        </div>   
      </div> 
      <div class="row">
        <div class="col-md-6">
            <label for="nit" class="control-label">Diagnósticos presuntivos:</label>
            <div class="texto">{{referencias.referencia.br_diagnostico}}</div>
        </div>
        <div class="col-md-6">
          <label for="nit" class="control-label">Recomendaciones:</label>
          <div class="texto">{{referencias.referencia.br_tratamiento_inicial}}</div>
        </div>   
      </div>    
      <br>
      <h4 class="text-center text-primary">III. CONSENTIMIENTO INFORMADO</h4>
      <hr class="bg-green">
      <div class="row">
           <div ng-show="referencias.referencia.br_acomp != null" class="col-md-6">
                <label class="control-label">Acompañante:</label>
                 <p>{{referencias.referencia.br_acomp}}</p>
           </div>
           <div class="col-md-6" ng-show="referencias.referencia.br_acomp == null">
                <label class="control-label">Acompañante:              
                    <div class="texto" ng-show="referencias.referencia.br_acomp == null">NINGUNO</div>
                  </label>
            </div>
      </div> 
      <br>
      <h4 class="text-center text-primary">IV. NOMBRE Y CARGO DE QUIEN ENVIA AL USUARIO O RESPONSABLE DEL ESTABLECIMIENTO DE SALUD QUE REFIERE</h4>
      <hr class="bg-green">
      <div class="row">
           <div class="col-md-6">
              <label for="resolucion" class="control-label">Nombres y apellidos:</label>
              <div class="texto">{{funcio.persona.per_nombres+" "+funcio.persona.per_apellido_primero+" "+funcio.persona.per_apellido_segundo}}</div>
            </div> 
            <div class="col-md-6">
              <label for="resolucion" class="control-label">Cargo:</label>
              <div class="texto">{{funcio.funcionario_establecimiento.fe_cargo}}</div>
            </div> 
      </div>
      <br>
      <h4 class="text-center text-primary">V. MOTIVO</h4>
      <hr class="bg-green">
      <div class="row">
           <div class="col-md-6">
              <label for="resolucion" class="control-label">Motivo referencia:</label>
              <div class="texto">{{referencias.referencia.br_motivo}}</div>
            </div> 
            <div class="col-md-6">
              <label for="resolucion" class="control-label">Servicio Referente:</label>
              <div class="texto">{{referencias.referencia.br_servicio_referente}}</div>
            </div> 
      </div>
      <br>
      <h4 class="text-center text-primary">VI. ESTABLECIMIENTO DE SALUD DESTINO</h4>
      <hr class="bg-green">
      <div class="row">
          <div class="col-md-6">
            <label class="control-label">Establecimiento:</label>
            <div class="texto">{{referencias.establecimiento_destino.es_nombre}}</div>
          </div>       
          <div class="col-md-4">
               <label for="resolucion" class="control-label">Subsector:</label>
               <div class="texto">{{referencias.referencia.br_subsector}}</div>
           </div> 
           <div class="col-md-6">
              <label for="resolucion" class="control-label">Servicio Destino:</label>
              <div class="texto">{{referencias.referencia.br_servicio_destino}}</div>
            </div>    
      </div>
      <h4 class="text-center text-primary">VII. CONTACTO CON EL ESTABLECIMIENTO DE SALUD DESTINO</h4>
      <hr class="bg-green">
      <div class="row">
            <div ng-show="referencias.referencia.fe_id_contacto != null" class="col-md-6">
                <label class="control-label">Persona contactada:</label>
                    <p>{{fun_cont_nombre+" "+fun_cont_apellido_primero+" "+fun_cont_apellido_segundo}}</p>
            </div>
            <div ng-show="referencias.referencia.fe_id_contacto != null" class="col-md-6">
              <label class="control-label" >Cargo:</label>
                  <p>{{fun_cont_cargo}}</p>

            </div>
            <br>
             <div class="col-md-6" ng-show="referencias.referencia.fe_id_contacto == null">
                <label class="control-label">Persona contactada:              
                    <p ng-show="referencias.referencias.fe_id_contacto == null">NINGUNO</p>
                  </label>
            </div>
      </div>
      <br>
      <h4 class="text-center text-primary">VIII. FUNCIONARIO DESTINO QUE RECIBE AL PACIENTE</h4>
      <hr class="bg-green">
      <div class="row">
            <div ng-show="referencias.referencia.fe_id_destino != null" class="col-md-6">
                <label class="control-label">Nombres y apellidos:</label>
                    <p>{{fun_dest_nombre+" "+fun_dest_apellido_primero+" "+fun_dest_apellido_segundo}}</p>
            </div>
            <div ng-show="referencias.referencia.fe_id_destino != null" class="col-md-6">
              <label class="control-label" >Cargo:</label>
                  <p>{{fun_dest_cargo}}</p>

            </div>
            <br>
             <div class="col-md-6" ng-show="referencias.referencia.fe_id_destino == null">
                <label class="control-label">Nombres y apellidos:              
                    <p ng-show="referencias.referencias.fe_id_destino == null">NINGUNO</p>
                    <p ng-show="referencias.referencias.fe_id_destino != null"></p>
                  </label>
            </div>
      </div>
   
    </div>

    <button type="button" class="btn btn-default" ng-click="openPdf()" >IMPRIMIR REFERENCIA  <span class="glyphicon glyphicon-open-file"></span></button>
 
    <button type="button"  class="btn btn-default" ng-click="downloadPdf()">DESCARGAR PDF REFERENCIA  <span class="glyphicon glyphicon-download-alt"></span></button>      
  </div>
<!-- fin cuerpo -->
  </div><!-- FIN CONTROLADOR PDF -->
</div>
<!--       </div>
    </div>
  </div> -->
<!-- CONTENIDO MODULO fin -->
