<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>
<!-- CONTEXT-MENU  -->
<div ng-include="'./templates/menu_lateral.html'"></div>
<!-- CONTENIDO MODULO inicio -->
    <div class="col-md-8 col-sm-8">
        <div class="row">
            <div class="col-md-10">
                <h2 class="text-primary">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    Vacuna: {{vacuna.vac_nombre}}
                </h2>
                <hr>
            </div>
        </div>
        <!--HERRAMIENTAS PARA LA VISTA-->
        <div class="well well-sm" style="background-color:#fff;" class="animated">
        <div class="row">
            <div class="col-md-12">
            <!-- AQUI VAN LAS TABLAS O FORMULARIOS incrustados -->
            <!-- INICIO -->
        
                    <div class="row">
                        <div class="col-md-6">
                            <div class="required-field-block">
                                <label for="nombre" class="control-label">Nombre de la vacuna: <strong class="fg_red"></strong></label>
                                <br>
                                {{vacuna.vac_nombre}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            
                            <div class="required-field-block">
                            <label for="nombre" class="control-label">Cantidad de dosis para la vacuna: <strong class="fg_red"></strong></label>
                                <br>
                               {{vacuna.vac_cant_dosis}} 
                            </div>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col-md-12">
                            <div class="required-field-block">
                            <label for="nombre" class="control-label">Descripción de vacuna: <strong class="fg_red"></strong></label>
                               <br> 
                              {{vacuna.vac_descripcion}}  
                            </div>
                        </div>
                    </div>

            <!-- FIN -->
            <!-- AQUI VAN LOAS TABLAS O FORMULARIOS incrustados -->
            </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-primary">
                   Dosis de la Vacuna &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   <a href="#/createdosisvacuna/{{vacuna.vac_id}}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> AGREGAR DOSIS</a>
                </h3>
                <hr>
            </div>
        </div>
        <div class="row" ng-controller= 'HomeCtrlDosVac'>
            <div class="col-md-12" >

               <table class="table table-hovertable table-bordered table-striped table-hover">
                    <thead>
                        <th >
                            <a href="" ng-click="sortType = 'dov_numero_dosis'; sortReverse = !sortReverse">
                                Número dosis
                            <span ng-show="sortType == 'dov_numero_dosis' && !sortReverse" class="glyphicon glyphicon-sort-by-order"></span>
                            <span ng-show="sortType == 'dov_numero_dosis' && sortReverse" class="glyphicon glyphicon-sort-by-order-alt"></span>
                            </a>
                        </th>
                        <th >Tipo dosis</th>
                        <th >Suministro de la dosis</th>
                        <th >Edad inicio de la dosis</th>
                        <th >Edad fin de la dosis</th>
                        <th >Editar</th>
                        <th >Borrar</th>
                        
                    </thead>
                    <tbody ng-repeat="dosisvacuna in dosisvacuna.vacuna_dosis | filter:vac_id | orderBy:sortType:sortReverse">
                      <tr>
                        <td>{{dosisvacuna.dov_numero_dosis}}</td>
                        <td>{{dosisvacuna.dov_tipo}}</td>
                        <td>{{dosisvacuna.dov_suministro}}</td>
                        <td>{{dosisvacuna.dov_edad_inicio}}</td>
                        <td>{{dosisvacuna.dov_edad_fin}}</td>
                        <td>
                            <a href="#/editdosisvacuna/{{dosisvacuna.dov_id}}" class="btn btn-primary">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                        <td>
                            <!-- BOTON PARA CUADROS MODALES -->
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#miCuadroModal1" ng-click="get_dov_id(dosisvacuna.dov_id, dosisvacuna.dov_numero_dosis, dosisvacuna.dov_tipo)" title="Eliminar">
                              <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            </div>
                            <!--CUADRO MODAL-->
                            <div id="miCuadroModal1" class="modal fade" role="dialog" tabindex="-1">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header bg-green">
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                    <h4 class="modal-title fg-white">ELIMINAR DOSIS DE VACUNA</h4>
                                  </div>
                                  <div class="modal-body lead text-center">
                                    ¿Está seguro que desea eliminar esta dosis?
                                    <br>
                                    <div class="well well-sm">
                                        <strong>{{"Número dosis: " + numero + " - " + "tipo: " + tipo}}</strong>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="remove()"><span class="glyphicon glyphicon-ok"></span> SI</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                                        <span class="glyphicon glyphicon-remove"></span> NO
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!--FIN CUADRO MODAL-->
                        </td>

                        
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  
        <!--FIN herramientas para la vista-->

       
<!-- CONTENIDO MODULO fin -->
