<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>
<!--  CONTEXT-MENU  -->
<div ng-include="'./templates/menu_lateral.html'">
</div>
<!-- CONTENIDO MODULO inicio -->
  <div class="col-md-8 col-sm-8">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-primary">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          {{ajustes.pagina.titulo}}
        </h2>
        <hr class="bg-green">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      <div class="well well-sm">
        <strong class="pull-left lead">Herramientas: &nbsp;</strong>
        <form class="form-inline pull-left">
          <input type="text" class="form-control" placeholder="Filtrar por Servicio" ng-model="ser_nombre">
        </form>
        &nbsp;&nbsp;
        <!--
        <button class="btn btn-primary"><span class="glyphicon glyphicon-tasks"></span> Exportar lista en XLS</button>
        -->
        <button class="btn btn-default" onclick="generateSER()"><span class="glyphicon glyphicon-save-file"></span> Exportar lista en PDF</button>
        <div class="clearfix"></div>
      </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12 ">
      <!-- AQUI VAN LAS TABLAS O FORMULARIOS incrustados -->
      <!-- INICIO -->
        <div class="text-center" ng-show="loading"><br><img ng-src="./images/image.gif" class="loader-img"></div>
        <div ng-show="!loading && !msg">No se encontraron resultados</div>
        <div class="table-responsive">
          <table class="table table-hovertable table-bordered table-striped table-hover" ng-show="!loading && msg" id="tablaSER">
            <thead >
              <th>Nº</th>
              <th>
                <a href="" ng-click="sortType = 'ser_nombre'; sortReverse = !sortReverse">Servicio</a>
                <span ng-show="sortType == 'ser_nombre' && !sortReverse" class="glyphicon glyphicon-sort-by-alphabet"></span>
                <span ng-show="sortType == 'ser_nombre' && sortReverse" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
              </th>
              <th >
                <a href="" ng-click="sortType = 'ser_tipo'; sortReverse = !sortReverse">Tipo</a>
                <span ng-show="sortType == 'ser_tipo' && !sortReverse" class="glyphicon glyphicon-sort-by-alphabet"></span>
                <span ng-show="sortType == 'ser_tipo' && sortReverse" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
              </th>
            </thead>
            <tbody  ng-repeat="ser in servicios | filter:ser_nombre | orderBy:sortType:sortReverse">
              <tr>
                <td>{{$index + 1}}</td>
                <td>{{ser.ser_nombre | capitalize}}</td>
                <td>{{ser.ser_tipo}}</td>
              </tr>
            </tbody>
          </table>
          <!--
          <div ng-repeat="group in servicios | groupBy: 'ser_tipo' | toArray:true | orderBy: ser_id "
                class="list card">
            <div class="item item-divider">
              <h2>{{ group.$key }}</h2>
            </div>
            <div class="item item-body" ng-repeat="expediente in group">
              <p>
                {{ expediente.ser_nombre }}
              </p>
            </div>
          </div>-->
        </div>
      </div>
    </div>
    