<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>
	<div ng-include="'./templates/menu_lateral.html'">
	</div>
<!-- CONTENIDO MODULO inicio -->
	<div class="col-md-8 col-sm-8">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-primary">
					<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
					{{ajustes.pagina.titulo}}
				</h2>
				<hr class="bg-green">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="well well-sm">
					<strong class="pull-left lead">Herramientas: &nbsp;</strong>
					<form class="form-inline pull-left">
						<input type="text" class="form-control" placeholder="Filtrar por ..." ng-model="per_nombres">
					</form>
					&nbsp;&nbsp;
					<!--<button class="btn btn-primary"><span class="glyphicon glyphicon-tasks"></span> Exportar lista en XLS</button>
					<button class="btn btn-default" ><span class="glyphicon glyphicon-save-file"></span> Exportar lista en PDF</button>-->
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div >
		</div>
			<div class="panel">
				<div class="panel-body ">
					<div ng-show="loading" class="text-center"><br><img ng-src="./images/image.gif" class="loader-img"></div>
					<div ng-show="!loading && !msg">No se encontraron resultados</div>
					<div class="table-responsive">
						<table class="table table-bordered  table-hover">
			            	<thead>
			                	<th class="text-primary">Rubro</th>
			              	</thead>
			              	<tbody ng-repeat="items in items">
			                    <tr>
									<td>{{items.sub_nombre}}</td>
							  	</tr>
			                </tbody>
			            </table>
			        </div>
		        </div>
			</div>	        		
			<!-- ..............Contrareferencias Recibidas................. -->
	</div>
</div>
<!-- CONTENIDO MODULO fin!-->