<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>
<!-- CONTEXT-MENU  -->
<div ng-include="'./templates/menu_lateral.html'"></div>
<!-- CONTENIDO MODULO inicio -->
<div class="col-md-8 col-sm-8">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-primary">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        {{ajustes.pagina.titulo}}
      </h2>
      <hr>
    </div>
  </div>
  <div class="col-md-12">
    <!-- BUSCAPJURIDICACTRL-->       
        <p>
          <h4 class="text-primary">Instrucciones</h4>
          Para la registrar a una persona como miembro de su empresa:
          <ul>
            <li>Debe ingresar en el buscador; el C.I. de la persona que desea registrar.</li>
            <li>Luego pulse en <b>Buscar</b></li>
          </ul>
        </p>      
        <div>
          <div class="well well-sm">
           <div class="row">
            <form name="perForm" novalidate>
             <div class="col-md-6 col-md-offset-2">
                <input ng-disabled="persona!=null" name="perci" class="form-control input-lg" ng-model="per_ci" type="text" placeholder="Escriba el C.I." required autofocus>
             </div>
             <div class="col-md-4">
                <button ng-disabled="persona!=null" class="btn btn-primary btn-lg" ng-click="verificarper(per_ci)"><span class="glyphicon glyphicon-search"></span><strong> BUSCAR</strong></button>
             </div>
            </form>
           </div>  
         </div>
        </div>
        <p ng-show="estForm.$invalid && estForm.$submitted" ng-class="{'alert-success':documento.doc_importancia!='OBLIGATORIO', 'alert-warning':documento.doc_importancia=='OBLIGATORIO' }">Asegúrese de llenar correctamente todos los campos</p>



        <div class="text-center" ng-show="loading" ><br><img ng-src="./images/image.gif" class="loader-img"></div>
        <div ng-show="!loading && !msg">No se encontraron resultados</div>
        <div class="table-responsive">
            <table class="table table-bordered  table-hover" ng-show="!loading && msg" id="tableCON">
                <thead>
                    <th>Nº</th>
                    <th>Empleado</th>
                    <th>Fecha de inicio</th>
                    <th>Fecha de fin</th>
                    <th >Cargo</th>
                    <th ng-show="user.rol_id == 4 || user.rol_id == 6 || user.rol_id == 10">Recepcionar</th>
                    <!-- <th ng-show="user.rol_id == 4 || user.rol_id == 6 || user.rol_id == 10">Editar</th> -->
                </thead>
                <tbody ng-repeat="contrareferencia in contrareferenciasrec | orderBy:sortType:sortReverse | filter:searchText" >
                    <tr ng-class="{success:contrareferencia.bc_estado_contrareferencia, danger:!contrareferencia.bc_estado_contrareferencia }">
                        <td>{{$index + 1}}</td>
                        <td>{{contrareferencia.created_at}}</td>
                        <td>{{contrareferencia.per_nombres+"&nbsp;"+contrareferencia.per_apellido_primero+"&nbsp;"+contrareferencia.per_apellido_segundo}}</td>
                        <td>{{contrareferencia.es_nombre}}</td>
                        <td>{{contrareferencia.bc_cod}}</td>
                        <td >
                            <a class="btn btn-success" href="#/contrareferencia/ver/{{contrareferencia.bc_id}}" title="Detalle">
                                <span class="glyphicon glyphicon-file"></span>
                            </a>
                        </td>

                        <td ng-show="user.rol_id==4 || user.rol_id == 6 || user.rol_id == 10">
                            <!-- BOTON PARA CUADROS MODALES -->
                            <button class="btn btn-warning" data-toggle="modal" ng-click="get_bc_id2(contrareferencia.bc_id,contrareferencia.per_nombres,contrareferencia.per_apellido_primero,contrareferencia.per_apellido_segundo)" data-target="#miCuadroModal2" title="Recepcionar Contrareferencia"><span class="glyphicon glyphicon-check"></span> Recepción</button>

                            <div id="miCuadroModal2" class="modal fade" role="dialog" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header bg-green">
                                        <button type="button" class="close" data-dismiss="modal">x</button>
                                        <h4 class="modal-title fg-white">RECEPCIONAR CONTRAREFERENCIA</h4>
                                      </div>
                                      <div class="modal-body lead text-center">
                                       Contrareferencia Aceptada del paciente:<br>
                                       <div class="well well-sm">
                                            <strong>{{nom+' '+ap1+' '+ap2}}</strong>
                                       </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="recepcionar()">
                                        <span class="glyphicon glyphicon-ok"></span>SI</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                                        <span class="glyphicon glyphicon-remove"></span>NO</button>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <!--FIN CUADRO MODAL-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


